.about--page {
	margin: 5rem 0;

	.cf;

	& > .shell {
		position: relative;		
	}
}

.page-content--about {
	margin: 0 0;
	padding-right: 28rem;

	font-size: @font-size--larger-0;
	font-weight: @font-weight;	

	& > p {
		max-width: 48em;
	}
}


// sidebar
.page-sidebar--about {
	position: absolute;
	right: 0;
	top: 0;

	width: 24rem;
	margin: 0 0 0 4rem;

	font-size: @font-size--larger-0;
	font-weight: @font-weight;	
	color: fade( @color--text, 50% );

	& > p {

	}
}



@media @medium {
	.page-content--about {
		padding-right: 0;

		& > p {

		}
	}


	// sidebar
	.page-sidebar--about {
		position: relative;
		right: auto;
		top: auto;

		width: auto;
		margin-top: 3rem;
		margin-left: 0;

		& > p {

		}
	}	
}


@media @smaller {
	.about--page {
		margin-top: 0;
	}	
}