.about--image {
	position: relative;

	margin: 5rem 0 5rem;
	padding: 0 0;

	background: @color--accent-light;

 	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 100;

		display: block;
		height: 5rem;
		margin: 0;

		// background-color: red;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;

		opacity: 1;

		pointer-events: none;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );				
	}

	&::after {
		top: 0;

		.svg( 'angle--2', false );						
	}	
}

.about--image .post-image {

	&::after {
		display: none;
	}

	& > img {

	}	
}


@media @smaller {

}


@media @smaller {
	.about--image .post-image {

		&::before {

		}

		& > img {
			width: 130%;
			margin-left: -15%;
		}	
	}	
}