.about--service {
	position: relative;

	margin: 16rem 0 5rem;
	padding: 1px 0 8rem;

	background: @color--accent;

	.transition;
	transition-property: background;

	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );						
	}

	&::after {
		top: 0;
		
		.svg( 'angle--2', false );						
	}	
}

.about--service .heading--approach {
	position: relative;
	z-index: 100;

	float: left;
	width: 100%;

	margin-bottom: 3rem;

	text-align: center;

	opacity: 0.5;
}


// service blocks
.service-blocks {
	position: relative;
	z-index: 50;

	margin: -9rem 0 5rem;
}


.service-blocks .grid {
	margin-left: -1.5%;
	margin-right: -1.5%;

	.cf;
}

.service-block {
	position: relative;

	float: left;
	width: 21.9%;
	margin: 0 1.5%;
	padding: 12rem 0 0 0;

	text-align: center;

	&::before {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		top: 0;

		display: block;
		width: 10rem;
		height: 10rem;
		margin: 0 auto;

		background-color: @color--bg;
		background-position: center center;
		background-repeat: no-repeat;

		border-radius: 50%;

		.transition;
	}

	.no-touchevents &:hover {

		&::before {
			transform: translateY( -1rem );
		}
	}

	&.service-block--words {

		&::before {
			.svg( 'icon-word-160--text', false );
		}
	}

	&.service-block--research {

		&::before {
			.svg( 'icon-research-160--text', false );
		}
	}	

	&.service-block--concept {

		&::before {
			.svg( 'icon-concept-160--text', false );
		}
	}	

	&.service-block--meme {

		&::before {
			.svg( 'icon-meme-160--text', false );
		}
	}	

	&.service-block--programming {

		&::before {
			.svg( 'icon-programming-160--text', false );
		}
	}				
}

.service-block-title {
	margin-bottom: 2rem;

	.type--uppercase;
	font-size: 1em;
	font-weight: @font-weight--bolder-1;
}

.service-block-text {
	// font-size: @font-size--larger-0;
	font-weight: @font-weight;
}


@media @regular {
	.service-block {	
		width: 46.9%;
		margin-bottom: 2rem;
	}
}


@media @smaller {
	.about--service {
		padding-top: 8rem;
	}

	.service-blocks .grid {
		margin-left: 0;
		margin-right: 0;
	}	

	.service-block {	
		float: none;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}


@media @small {
	.about--service {
		margin-top: 10rem;
	}

	.about--service .heading--approach {
		margin-top: -4rem;
	}

	.service-block {
		padding-top: 10rem;
	
		&::before {
			width: 8rem;
			height: 8rem;
			
			background-size: 100% auto;

			transform: none !important;
		}	
	}
}



// service list
.service-list {
	margin-top: 5rem;
	margin-bottom: 0;
	margin-left: -1.5%;
	margin-right: -1.5%;
	padding: 0;

	list-style-type: none;

	.cf;
}

.service-list h2 {
	float: left; 
	width: 100%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 2.5rem;

	text-align: center;

	opacity: 0.5;
}

.service-list-item {
	box-sizing: border-box;

	position: relative;

	float: left; 
	width: 30.2333%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 2rem;
	padding-left: 2rem;

	.type--uppercase;
	font-size: 1em;
	font-weight: @font-weight--bolder-1;	
	// text-align: center;

	&:nth-of-type( 3n + 1 ) {
		// text-align: left;
	}


	&:nth-of-type( 3n + 3 ) {
		// text-align: right;
	}	

	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		top: 0;

		display: block;
		width: 1em;
		height: 1em;
		margin: 0 0 0 0;

		background: @color--bg;
		border-radius: 50%;
	}
}


@media @smaller {
	.service-list {	

	}

	.service-list h2 { 
		float: none;
	}

	.service-list-item {	
		width: 46.9%;
		min-height: ( 2em * @line-height );

		text-align: left !important;		
	}	
}


@media @small {
	.service-list {	

	}

	.service-list-item {	
		float: none;
		width: 100%;
		min-height: 0;
	}	
}