.about--clients {
	margin: 5rem 0;	
	padding: 3rem 0;	
} 

.clients--about {
	// margin-left: -1.5%;
	// margin-right: -1.5%;
	padding: 0;

	list-style-type: none;

	text-align: center;
	
	.cf;
}

.clients--about h2 {
	// float: left; 
	// width: 100%;
	// margin-left: 1.5%;
	// margin-right: 1.5%;
	margin-bottom: 2rem;

	opacity: 0.5;
}

.client--about {
	display: inline-block;
	margin: 0 1rem 1rem;
	// float: left;
	// width: 21.9%;
	// margin: 0 1.5% 1rem;

	font-size: @font-size--larger-2;
	font-weight: @font-weight;	
	// color: fade( @color--text, 25% );
}

.client--about > a {
	color: @color--text;

	&:hover,
	&:focus {
		color: @color--accent;
	}
}


@media @smaller {
	.clients--about {
		padding-top: 0;
		padding-bottom: 0;
	}

	.client--about {

	}	
}


@media @small {
	.about--clients {
		padding-top: 0;
		padding-bottom: 0;		
	}

	.clients--about {

	}

	.client--about {
		display: block;
	}	
}