.about--testimonials {
	position: relative;

	margin: 5rem 0 0;
	padding: 8rem 0;

	background: @color--accent-light;

	.transition;
	transition-property: background;

	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );						
	}

	&::after {
		top: 0;
		
		.svg( 'angle--2', false );						
	}	
}

.about--testimonials .shell {
	position: relative;
	z-index: 100;
}

.testimonial--about {
	position: relative;

	margin-left: 15rem;
}

.testimonial-text--about {
	font-size: @font-size--larger-1;
	font-weight: @font-weight;
	font-style: italic;

	opacity: 0.4;
}

.testimonial-author--about {
	margin: 1rem 0 0 0;
}



@media @smaller {
	.about--testimonials {

	}

	.about--testimonials .shell {
		position: relative;
		z-index: 100;

		margin-top: -10rem;
		padding-top: 12rem;		

		&::before {
			content: ' ';

			position: absolute;
			left: 50%;
			top: 0;

			width: 10rem;
			height: 10rem;
			margin: 0 0 0 -5rem;

			background: @color--bg;
			background-position: center center;
			background-repeat: no-repeat;		
			.svg( 'icon-quote-160--text', false );
			border-radius: 50%;
		}
	}

	.testimonial--about {
		margin-left: 0;	
		margin-bottom: 3rem;	

		text-align: center;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.testimonial-text--about {
		font-size: @font-size--larger-0;
	}	
}


@media @small {
	.about--testimonials {

	}

	.about--testimonials .shell {
		padding-top: 10rem;		

		&::before {
			width: 8rem;
			height: 8rem;
			margin-left: -4rem;

			background-size: 100% auto;
		}
	}

	.testimonial--about {

	}

	.testimonial-text--about {

	}	
}