.angle {
	position: absolute;
	left: 0;
	right: 0;

	height: 5rem;

	background: red;

	overflow: hidden;	
}

.angle--top {
	top: 0;

	margin-top: -5rem;
} 

.angle--bottom {
	bottom: 0;

	margin-bottom: -5rem;
} 

.angle-inner {
	width: 100%;
	height: 100%;

	background: green;
}

.angle--top .angle-inner {
	margin-top: 2.5rem;
}