@keyframes floating {
	0% {
		transform: translateY( 0 );
	}

	50% {
		transform: translateY( 1rem );
	}

	100% {
		transform: translateY( 0 );	
	}
}

@keyframes zoomIn {
	0% {
		transform: scale( 1 );
	}

	100% {
		transform: scale( 1.2 );	
	}
}

@keyframes zoomInCenter {
	0% {
		transform: translateY( -50% ) scale( 1 );
	}

	100% {
		transform: translateY( -50% ) scale( 1.2 );	
	}
}

@keyframes zoomInOut {
	0% {
		transform: scale( 1 );
	}

	50% {
		transform: scale( 1.2 );	
	}

	100% {
		transform: scale( 1 );	
	}	
}

@keyframes bouncing {
    0% { 
    	transform: translateY( 0 );
   	}
    
    // 10% { 
    // 	transform: translateY( -2em );
    // }

    100% { 
    	transform: translateY( -2em );
    }
}


@keyframes trigger {
	0% {
		opacity: 0.9999;
	}

	109% {
		opacity: 1;
	}
}


@keyframes rotating {
    0% { 
    	transform: rotate( 0deg );
   	}
    
    // 10% { 
    // 	transform: translateY( -2em );
    // }

    100% { 
    	transform: rotate( 360deg );
    }
}


@keyframes pulse {
    0% { 
    	transform: scale( 0.1 );
    	opacity: 0.1;
   	}
    
    50% { 
    	transform: scale( 1 );
    	opacity: 1;
    }

    100% { 
    	transform: scale( 0.1 );
    	opacity: 0.1;    	
    }
}


@keyframes pulseSubtle {
    0% { 
    	transform: scale( 1.2 );
   	}
    
    50% { 
    	transform: scale( 0.8 );
    }

    100% { 
    	transform: scale( 1.2 );
    }
}