.no-js [data-carousel='wrapper'] {
	opacity: 0;

	&.initiated {
		opacity: 1;
	}
}

.initiated[data-carousel='wrapper'] {
	position: relative;

	.transition;
}

.initiated [data-carousel='item'] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	opacity: 0;

	.transition;	

	&.current {
		opacity: 1;
	}
}

.initiated [data-carousel='pagination'] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;

	width: 10rem;
	margin-top: -2rem;
}

.initiated [data-carousel='pagination'] > a {
	position: relative;

	display: block;
	width: 1rem;
	height: 1rem;
	margin: 1rem auto;

	text-align: center;
	overflow: hidden;
	text-indent: 300%;
	white-space: nowrap;

	background: @color--bg;
	border-radius: 50%;

	.transition;
	transition-property: width, height, margin, background;
	transition-duration: @transition-duration, @transition-duration, @transition-duration, ( @transition-duration / 4 );

	&::before {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		display: block;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
		.svg( 'icon-quote-160--text', false );

		opacity: 0; 

		.transition;		
	}

	&:hover,
	&:focus {
		background: @color--accent;
	}

	&.current {
		width: 10rem;
		height: 10rem;

		cursor: default;

		&::before {
			opacity: 1;
		}

		&:hover,
		&:focus {
			background: @color--bg;
		}
	}
}


@media @smaller {
	.no-js [data-carousel='wrapper'] {
		opacity: 1;
	}
}