.section--contact {
	margin: 5rem auto 4rem;
	padding: 3rem 0;

	text-align: center;
}

.section--contact h2 {
	// text-align: center;
}

.section--contact p {
	margin: 1rem 0;

	font-size: @font-size--larger-2;
	font-weight: @font-weight;

	color: mix( @color--text, #fff, 40% );	
}

.section--contact a {
	display: inline-block;
	margin: 0 2rem 0;

	color: mix( @color--text, #fff, 40% );	
	color: @color--accent;

	&:hover,
	&:focus {
		color: @color--accent;

		opacity: 0.9;
	}
}


@media @smaller {
	.section--contact {
		margin: 3rem auto;
		padding-top: 0;
		padding-bottom: 0;		
	}

	.section--contact p {
		font-size: @font-size--larger-1;	
	}

}


@media @small {
	.section--contact a {
		display: block;
		margin: 1rem auto;

		&:hover,
		&:focus {

		}
	}	
}