.filter {
	
}

.opener .filters {
	position: absolute;
	right: 0;
	top: 0;

	margin: 2em 0 0 0;

	white-space: nowrap;
}

.opener .filter {
	display: inline-block;
	margin: 0 0 0.75rem 1rem;

	white-space: normal;	
}

.filter-toggle {
	.type--uppercase;

	font-weight: @font-weight--bolder-1;
	// color: @color--accent-light;

	opacity: 0.4;

	.filtered &,
	&:hover,
	&:focus {
		color: @color--text !important;

		opacity: 1;
	}
}

.filter-nav {
	position: fixed;
	left: 100%;
	right: -100%;
	top: 0;
	bottom: 0;
	z-index: 1000;

	padding: 8rem 0;

	background: fade( @color--accent, 50% );

	opacity: 0;

	.transition;
	transition-property: opacity;

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.visible & {
		opacity: 1;
	}

	.moved & {
		left: 0;
		right: 0;
	}
}

.filter-nav > h4 {
	position: relative;
	left: 0.25em;

	width: 90%;
	max-width: 72rem;
	margin: 0 auto 2rem;

	.type--uppercase;
}


.filter-nav > a {
	position: relative;

	.h1;

	display: block;

	width: 90%;
	max-width: 72rem;
	margin: 0 auto 1rem;

	&::before {
		content: ' ';

		position: absolute;
		left: 0;
		top: 0;

		display: block;
		width: 0.8em;
		height: 0.8em;
		margin: 0.1em 0 0 -1.2em;

		background-repeat: no-repeat;
		background-position: center center;
		.svg( 'icon-plus-64--white', false );

		transform: scale( 0 );

		.transition;	
		transition-duration: ( @transition-duration / 2 )
	}

	&:hover,
	&:focus {

		&::before {
			transform: scale( 1 )
		}
	}

	&.current {

		&::before {
			transform: scale( 0 )
		}

		&::after {
			content: ' ';

			position: absolute;
			left: 0;
			top: 0;

			display: block;
			width: 0.2em;
			height: 0.2em;
			margin: 0.4em 0 0 -1.5em;

			background: @color--bg;
			border-radius: 50%;

			.transition;	
		}
	}
}

.filter-ui {

}

.filter-ui > .close {
	position: fixed;
	right: -100%;
	top: 0;

	display: block;
	width: 3rem;
	height: 3rem;
	margin: 2rem 2rem 0 0;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: center center;
	.svg( 'icon-close-64--white', false );

	.transition;

	.visible & {
		right: 0;
	}

	&:hover,
	&:focus {
		transform: rotate( 90deg );
	}
}


@media @medium {
	.filter {

	}

	.filter-nav {

	}

	.filter-nav > a {

		&::before {
			display: none;
		}
	}
}


@media @smaller {
	.filters,
	.opener .filters {
		position: relative;

		margin: 1rem 0 0;

		white-space: normal;		
	}

	.filter,
	.opener .filter {
		display: block;
		margin-left: 0;
	}

	.filter-nav {
		padding: 5rem 0;
	}

	.filter-nav > a {
		font-size: @font-size--larger-4;		

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}		

		&.current {
			color: @color--bg;
		}
	}	

	.filter-ui {

	}

	.filter-ui > .close {
		width: 4rem;
		height: 5rem;
		margin: -0.1em 0 0 0;

		.svg( 'icon-close-24--text', false );
	}

}