.footer {
	clear: both;
	margin: 0;
}

.footer-credits {
	display: block;
	margin: 3rem auto 0;

	font-size: 1rem;
	text-align: center;

	opacity: 0.4;
}



.divider--footer {
	position: relative;

	height: 0;
	margin: 2rem 0;
	padding: 5rem 0 5rem;

	background: @color--accent;

	.transition;
	transition-property: background;

	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );						
	}

	&::after {
		top: 0;
		
		.svg( 'angle--2', false );						
	}		
}


@media @smaller {
	.footer {
		position: relative;

		&::after {
			content: ' ';

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;

			display: block;
			margin: -5rem 0 0 0;
		}
	}
}