.gallery {
	position: relative;
	margin: 3rem 0 5rem;
  	padding-bottom: 60%;	

  	background: @color--accent-light;
  	// box-shadow: 0 0 1rem red inset;
 
 	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 100;

		display: block;
		height: 5rem;
		margin: 0;

		// background-color: red;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;

		opacity: 1;

		pointer-events: none;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );				
	}

	&::after {
		top: 0;

		.svg( 'angle--2', false );						
	}


	opacity: 0;

	.transition;
	transition-property: opacity;

	&.flickity-enabled {
		opacity: 1;
	}
}

.gallery-item {
	display: block;
	width: 100%;
	height: 100%;
}

.gallery-image {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
}


// flickity
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

.flickity-page-dots {
	bottom: 0;

	margin-bottom: -1.25rem;
}

.flickity-page-dots .dot {
	width: 0.5rem * @font-size--larger-1b;
	height: 0.5rem * @font-size--larger-1b;

	background: @color--accent-light;

	opacity: 1;

	&:hover,
	&.is-selected {
		background: @color--accent;		
	}
}

.flickity-prev-next-button {
	width: 3rem;
	height: 3rem;

	opacity: 1;

	background-color: @color--bg;
	background-position: center center;
	background-repeat: no-repeat;

	.transition;

	.gallery:hover & {
		opacity: 1;
	}

	&.next {
		right: 0;

		margin-right: 1.5rem;

		.svg( 'icon-arrow-right-24--text' );			
	}

	&.previous {
		left: 0;

		margin-left: 1.5rem;

		.svg( 'icon-arrow-left-24--text' );			
	}	

	& > svg {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: @color--accent;
		background-position: center center;
		background-repeat: no-repeat;
	}
}


@media @smaller {
	.gallery {
		padding-bottom: 75%;
	}
}


@media @small {
	.gallery {
		margin-top: 2rem;
		margin-bottom: 4rem;

		&::before,
		&::after {
			display: none;
		}
	}

	.flickity-page-dots {
		bottom: 0;

		margin-bottom: -2.25rem;
	}	
}