// links
a {
	color: inherit;
	text-decoration: none;
}

a:visited {

}

a:hover,
a:focus {
	text-decoration: none;
	outline: 0; // do somethig else for a11y
}

a:active {

}

// selection
::selection {
	color: @color--text;
	background: @color--accent-light;
}

// headings
h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 1em 0;

	line-height: 1;

	& a {

		&:hover,
		&:focus {

		}
	}
}

h1,
.h1 {
	margin: 0;

	font-size: @font-size--larger-5;
	font-weight: @font-weight;
	line-height: 1.2;

	& a {

		&:hover,
		&:focus {

		}
	}
}


@media @smaller {
	h1,
	.h1 {
		font-size: @font-size--larger-4;

		& a {

			&:hover,
			&:focus {

			}
		}
	}
}


h2 {
	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	// font-weight: @font-weight;
	line-height: 1.25;	

	& a {

		&:hover,
		&:focus {

		}
	}
}

@media @smaller {
	h2 {
		font-size: @font-size--larger-1;	
	}
}

@media @small {
	h2 {

	}
}

h3 {

	& a {

		&:hover,
		&:focus {

		}
	}
}

h4 {
	.type--uppercase;

	font-weight: @font-weight--bolder-2;
	
	& a {

		&:hover,
		&:focus {

		}
	}
}

h5 {

	& a {

		&:hover,
		&:focus {

		}
	}
}