.head {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 110;

	box-sizing: border-box;

	width: 100%;
	height: ( ( 1rem * @font-size--larger-2 ) + 4.5rem );

	padding: 2.5rem 3rem 2rem;

	background: @color--bg;

	transform: translateY( 0 );

	.transition;
	transition-property: transform, opacity, filter !important;

	.nav-sticky & {
		position: fixed;

		transform: translateY( 0 );
	}

	.nav-sticky.scroll-direction--down & {
		transform: translateY( -11rem );
	}

	.nav-sticky.show-head-primary &,
	.nav-sticky.scroll-direction--up & {
		transform: translateY( 0 );
	}

	.nav-sticky.show-head-primary &,
	.nav-sticky.scroll-direction--up & {
		filter: drop-shadow( 0 0 0.25rem fade( @color--text, 20% ) );			

		.scrolled-to-top& {
			filter: none;
		}
	}

	.home & {

	}


	.show-select & {
		z-index: 0;
	}


	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;			
		z-index: -1;

		display: none;
		height: 5rem;
		margin: 0;
		margin-bottom: -5rem;		

		// background-color: red;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;

		opacity: 1;

		.svg( 'angle--2', false );				
	}

	// .nav-sticky & {

		&::after {
			display: block;
		}
	// }
}	

.logo--head {
	position: relative;

	display: inline-block;
	vertical-align: top;

	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	line-height: 1;
	.type--uppercase;

	// &::after {
	// 	content: ' ';

	// 	position: absolute;
	// 	left: 0;
	// 	right: 110%;
	// 	bottom: 0;
	// 	z-index: -1;

	// 	display: block;
	// 	height: 2px;
	// 	margin: 0 0.125em -0.25em 0;

	// 	background: @color--accent;

	// 	.transition--quicker;
	// }

	& > span {
		display: block;
	}

	& > .name {
		// optical adjustment
		font-size: 1em;
	}

	& > .tagline {
		display: none;
		max-width: 16em;
		margin-top: 1rem;

		.type--uppercase;
		font-size: 1rem;
		font-weight: @font-weight--bolder-2;
		line-height: 1.3;
		color: @color--accent;

		.home & {
			display: block;
		}
	}

	&:hover,
	&:active {


		& > .tagline {
			// color: @color--accent;			
		}
	}		
}



@media @smaller {
	.head {
		position: absolute !important;
		top: 0;

		height: 4.25rem;
		padding: 1.5rem 3rem 1.25rem;

		// background: fade( red, 50% );
		
		transform: none !important;

		&::after {
			display: none;
		}

		.home & {
			&::after {
				display: block;
			}
		}
	}

	.logo--head {

		& > .name {

		}

		& > .tagline {
			display: none;
		}

		.home & {

			& > .tagline { 
				display: none;
			}
		}
	}
}


@media @small {
	.head {
		padding: 1.5rem 1.5rem 1rem;		
	}

	.logo--head {
		font-weight: @font-weight--bolder-2;
	}
}