.home-content {
	padding: 5rem 0 11rem;

	& h2 {
		margin: 0 0 12rem;

		font-size: @font-size--larger-5;
		font-weight: @font-weight;

		&:last-child {
			margin-bottom: 0;
		}		
	}

	& h2 em {
		position: relative;

		font-style: normal;
		white-space: nowrap;
		// text-shadow: 
		// 	1px 1px 1px @color--bg,
		// 	-1px 1px 1px @color--bg,
		// 	1px -1px 1px @color--bg,
		// 	-1px -1px 1px @color--bg;

		&::after {
			content: ' ';

			position: absolute;
			left: 0;
			right: 110%;
			bottom: 0;
			z-index: 0;

			display: block;
			height: 4px;
			margin: 0px 0 0 -0.05em;

			background: @color--accent;

			mix-blend-mode: darken;

			.transition;
		}
	}

	& h2:hover em,
	.touchevents & h2:hover em {

		&::after {
			right: 0;

			margion-left: -0.1em;
			margion-right: -0.1em;
		}
	}

	// & a {
	// 	display: inline-block;
	// 	margin: 0 0 0 -1em;
	// 	padding: 0 0 0 1em;
	// 	.type--uppercase;

	// 	// font-size: @font-size--smaller-1;
		
	// 	.transition;

	// 	&:hover,
	// 	&:focus {
	// 		transform: translateX( 1em );
	// 	}
	// }
}


@media @smaller {
	.home-content {
		padding-top: 3rem;
		padding-bottom: 8rem;

		& h2 {
			margin-bottom: 8rem;

			font-size: @font-size--larger-4;	

			& > br {
				display: none;
			}				
		}

	}
}


@media @small {
	.home-content {
		padding-top: 0;
		padding-bottom: 5rem;

		& h2 {
			margin-bottom: 5rem;			

			font-size: @font-size--larger-3;
			font-weight: @font-weight--bolder-1;

			// thin font a little
			// -moz-osx-font-smoothing: grayscale;
			// -webkit-font-smoothing: antialiased;			
		}

		& h2 em {
			white-space: normal;

			&::after {
				display: none;
			}
		}
	}
}



.section--home-clients {
	position: relative;

	margin: 0 0 0 0;
	padding: 10rem 0 6rem;

	background: @color--accent-light;

	.transition;
	transition-property: background;

	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );						
	}

	&::after {
		top: 0;
		
		.svg( 'angle--2', false );						
	}		
}

.home-clients {

	.cf;
}

.clients--home {
	float: left;
	width: 100%;

	text-align: center;
}

.clients--home > h2 {
	margin: 0 auto 4rem;

	// font-weight: @font-weight--bolder-1;
	// line-height: @line-height;
}

.client--home {
	display: inline-block;

	height: 2rem;
	width: 19.9%;
	min-width: 2em;
	margin: 0 2.5% 4rem;

	// background: red;

	& > .title {
		.hide-but-read;
	}

	& > img {
		display: block;
		height: 100%;
		width: auto;
		max-width: 100%;
		margin: 0 auto;

		// filter: grayscale( 1 );

		opacity: 0.3;

		.transition;		
	}

	&:hover > img {
		// filter: grayscale( 0 );	

		// opacity: 1;	
	}
}

.client--home  {
}

.client--home > img {

}

@media @smaller {
	.section--home-clients {
		margin-bottom: 0;
	}

	.client--home {
		width: 44%;
		margin-bottom: 2rem;
	}
}

@media @small {
	.section--home-clients {

	}

	.clients--home > h4 {
		font-size: @font-size--smaller-1;					
	}
}