.inline-content {

	&.single-content {
		font-size: @font-size--larger-0;
		font-weight: @font-weight;
		line-height: 1.5;		
	}

	a {
		border-bottom: 2px solid @color--accent;

		&:hover,
		&:active {
			background: @color--accent-light;
		}
	}

	b,
	strong {
		font-size: 0.875em;
		text-transform: uppercase;
		letter-spacing: ( 2 * @letter-spacing );
		font-weight: @font-weight--bolder-1;
	}

	h2 {
		margin-top: 2em;
		margin-bottom: 2em;
		margin-left: 15%;

		font-size: 1.5em;
		font-weight: @font-weight;		

		opacity: 0.4;		
	}

	h3 {
		width: 70%;
		margin: 2em 0 1em 30%;			
		
		font-size: 1em;
		font-weight: @font-weight--bolder-1;
		line-height: @line-height;
	}

	p {
		margin: 0 0 1em 0;

		.single-content& {
			width: 70%;
			margin: 0 0 1em 30%;			

			font-family: @font--2;
			// font-size: ( 1em / @font-size--larger-1 * @font-size--larger-0 );
		}

		
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		display: block;
		padding: 0;

		list-style-type: none;

		.single-content& {
			width: 70%;
			margin: 2em 0 2em 30%;	

			font-family: @font--2;					
		}

		& > li {
			position: relative;

			display: block;

			&::before {
				content: ' ';

				position: absolute;
				left: 0;
				top: 0;

				display: block;
				width: 0.5em;
				height: 0.5em;

				margin: 0.4em 0 0 -1.4em;

				background: @color--text;
				border-radius: 50%;
			}
		}
	}

	> ol,
	p > ol {
		display: block;
		padding: 0;

		list-style-type: none;

		counter-reset: ol;

		.single-content& {
			width: 70%;
			margin: 2em 0 2em 30%;	

			font-family: @font--2;					
		}

		& > li {
			position: relative;

			display: block;
			margin-bottom: 1em;

			counter-increment: ol;

			&::before {
				content: counter( ol );

				position: absolute;
				left: 0;
				top: 0;

				display: block;
				width: 1em;
				margin: 0 0 0 -1.4em;

				// font-size: 1.75em;
				font-weight: @font-weight--bolder-1;

				color: @color--accent;
			}
		}		
	}

	.bigger {

		.single-content& {
			margin-top: 2em;
			margin-bottom: 2em;

			font-family: @font--1;			
			font-size: 1.5em;
			line-height: 1.25;				

			opacity: 0.4;

			&:first-child {
				margin-top: 0;
			}
		}
	}


	// blockquote
	blockquote {
		position: relative;

		width: 70%;
		margin: 5rem 0 5rem 15%;	

		font-size: 1.5em;
		font-style: italic;
		line-height: 1.25;			

		opacity: 0.4;

		&::before {
			content: '“';

			position: absolute;
			left: 0;
			top: 0;

			display: block;
			margin: -0.125em 0 0 -0.35em;

			font-size: 1.5em;
			font-style: normal;
			font-weight: @font-weight--lighter-1;
		}	

		& > p {
			width: auto !important;
			margin-left: 0 !important;

			&:last-child {

				&::after {
					content: '”';

					position: absolute;

					display: inline;
					margin: -0.125em 0 0 0.1em;

					font-size: 1.5em;
					font-style: normal;
					font-weight: @font-weight--lighter-1;
				}					
			}

			.single-content& {
				font-family: @font--1;		
			}	
		}
	} 
	

	// images
	& > p > img {
		position: relative;

		clear: both;
		display: block;
		width: 100%;
		height: auto;
		margin: 3rem 0 3rem ( -30% / 0.7 );
	}

	& > figure {
		float: left;
		clear: both;
		display: block;
		width: 100%;
		height: auto;		
		margin: 1.5rem 0 3rem;

		& > img {
			float: left;
			display: block;
			width: 70%;
			height: auto;
		}
	}

	figcaption {
		float: left;

		display: block;
		width: 25%;
		max-width: 32em;
		margin: 0 0 0 1rem;
		// width: 30%;
		
		font-size: @font-size--smaller-1;
	}

	// alignment 
	// align right
	& > p > img.alignright {
		margin-left: 0;
	}

	& > figure.alignright {

		& > img {
			margin-left: 30%;
		}

		& > figcaption {
			box-sizing: border-box;
			width: 30%;
			margin-left: -100%;
			padding-right: 1rem;

			text-align: right;
		} 
	}

	// align center
	& > p > img.aligncenter {
		width: 100% + ( 30% / 0.7 );
		margin-right: ( -30% / 0.7 );
	}

	& > figure.aligncenter {

		& > img {
			width: 100%;
			margin-left: 0;
		}

		& > figcaption {
			width: 70%;
			margin-top: 1rem;
			margin-left: 30%;
			margin-bottom: 0;
		} 
	}	


	// portrait
	& > p > img.orientation--portrait {
		width: 50% / 0.7;

		&.alignright {
			margin-left: 100% - ( 50% / 0.7 );
		}

		&.aligncenter {
			margin-left: 0;
		}

		&.alignleft {
			float: left;
			clear: both;
			width: ~'calc( ( 30% / 0.7 ) - 2rem )';	
			margin-top: 0;		
			margin-left: ( -30% / 0.7 );
		}		
	}

	& > figure.orientation--portrait {

		& > img {
			width: 50%;
		}

		& > figcaption {

		} 

		&.alignright {

			& > img {
				margin-left: 50%;
			}

			& > figcaption {
				margin-left: -80%;
			} 
		}

		&.aligncenter {

			& > img {
				float: none;
				margin-left: 30%;
			}

			& > figcaption {
				text-align: left;
			} 
		}	

		&.alignleft {

			float: left;
			clear: both;
			width: ~'calc( 30% - 2rem )';	
			margin-top: 0;		
			margin-left: 0;


			& > img {
				float: none;
				width: 100%;
				margin-left: 0;
			}			

			& > figcaption {
				width: auto;
				margin-top: 1rem;
				margin-left: 0;
			} 						
		}	
	}	

	// video embed
	.embed-video {
		position: relative;

		height: 0;
		margin: 3rem 0;
		padding: 56.25% 0 0 0;

		& > iframe {
			position: absolute;
			left: 0;
			top: 0;

			display: block;
			width: 100%;
			height: 100%;
		}
	}
}


@media @smaller {
	.inline-content {

		&.single-content {
			font-size: @font-size--larger-0;
			font-weight: @font-weight;
			// line-height: 1.4;		
		}

		h2 {
			margin-left: 0;
		}

		h3 {
			margin-left: 0;
		}		

		p {

			.single-content& {
				width: auto;
				margin-left: 0;			
			}

			
			&:last-child {
				
			}
		}

		ul {
			
			.single-content& {
				width: auto;
				margin-left: 1.5em;			
			}			
		}

		> ol,
		p > ol {
			margin-left: 0;

			.single-content& {
				width: auto;
				margin-left: 0;
			}				

			> li {
				padding-left: 2em;			

				&::before {
					margin-left: 0;
				}
			}
		}

		// blockquote
		blockquote {
			width: auto;
			margin-left: 0;
		}


		// images
		& > p > img {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		& > figure {
			float: none;
			width: 100%;
			height: auto;		
			margin-left: auto;
			margin-right: auto;

			& > img {
				float: none;
				width: 100%;
			}
		}

		figcaption {
			float: none;

			display: block;
			width: auto;
			margin-top: 1rem;
			margin-left: 0;
			
			text-align: center;
		}

		// align right
		& > p > img.alignright {

		}

		& > figure.alignright {

			& > img {
				margin-left: 0;
			}

			& > figcaption {
				width: auto;
				margin-left: 0;
				padding-right: 0;

				text-align: center;
			} 
		}

		// // align center
		& > p > img.aligncenter {
			width: 100%;
			margin-right: 0;
		}

		& > figure.aligncenter {

			& > img {

			}

			& > figcaption {
				width: auto;
				margin-left: 0;
			} 
		}			

		// orientation
		& > p > img.orientation--portrait,
		& > p > img.orientation--portrait.alignleft,
		& > p > img.orientation--portrait.alignright,
		& > p > img.orientation--portrait.aligncenter {
			width: 70%;
			margin-left: auto;
			margin-right: auto;		
		}

		& > figure.orientation--portrait,
		& > figure.orientation--portrait.alignleft,
		& > figure.orientation--portrait.aligncenter,
		& > figure.orientation--portrait.alignright {
			width: 70%;
			margin-left: auto;
			margin-right: auto;			

			& > img {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}

			& > figcaption {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			} 	
		}			
	}
}



@media @small {
	.inline-content {

		&.single-content {
			font-size: 1rem;
			// line-height: 1.4;		
		}

		p {

			.single-content& {
		
			}

			
			&:last-child {
				
			}
		}

		// blockquote
		blockquote {

			&::before {
				display: none;
			}

			& > p {

			}
		} 		

		& > figure,
		& p > img,
		& .embed-video {
			width: 100vw !important;
			margin-top: 2rem;
			margin-bottom: 2rem;

			margin-left: -1.5rem !important;
			margin-right: -1.5rem !important;

			& > figcaption {
				margin-left: 1.5rem !important;
				margin-right: 1.5rem !important;
			}
		}	

		& .embed-video {
			padding-top: 66%;			
		}

	}
}