.main {
	position: relative;
	z-index: 100;

	min-height: 100vh;
	// margin: 0 0 calc( ~'100vh - 7rem' );
	margin: 0 0;
	padding: 11rem 0 2rem;

	background: @color--bg;

	&::before {
	// &::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		top: 0;	

		margin-top: -5rem;

		.svg( 'angle--1', false );		
	}

	// &::after {
	// 	bottom: 0;	

	// 	margin-bottom: -5rem;	

	// 	.svg( 'angle--2', false );		
	// }	

	.home & {
		// margin-top: calc( ~'100vh - 7rem' );
		margin-top: calc( ~'100vh + 5rem' );
	}
}


@media @smaller {
	.main {
		margin-bottom: 0;
		padding-top: 8rem;

		.home & {
			margin-top: 0;
			padding-top: 5rem;
		}		
	}
}


@media @small {
	.main {
		padding-bottom: 1.5rem;
	}
}