// typography
.type--uppercase {
	text-transform: uppercase;
	letter-spacing: 5 * @letter-spacing;
}


// a11y
.hide-but-read {
	position: absolute;
	left: -9999em;
	top: auto;

	width: 1px;
	height: 1px;
	
	overflow: hidden;
}

// layout 
.pseudo-box {
	content: ' ';

	position: absolute;
	left: 0;
	top: 0;

	display: block;
}

// background images
// data-uri
.data-uri( @url ) {
	background-image: data-uri( 'img/@{url}' );
}

// PNG fallback for SVG
.svg( @handle, @data-uri: false ) when ( @data-uri = false ) {
	background-image: url( 'img/@{handle}.svg' );

	.no-svg & {
			background-image: url( 'img/@{handle}.png' );
	}
}

.svg( @handle, @data-uri: false ) when ( @data-uri = true ) {
	background-image: data-uri( 'image/svg+xml;charset=UTF-8', 'img/@{handle}.svg' );

	.no-svg & {
			.data-uri( '@{handle}.png' );
	}
}

// transitions
.transition {
	transition: all @transition-duration ease;
}

.transition--slower {
	transition: all ( @transition-duration * 2 ) ease;
}


.transition--quicker {
	transition: all ( @transition-duration / 2 ) ease;
}


.no-transition {
	transition: none !important;
}

// performance
.new-layer {
	transform: translateZ( 0 );
}

// clearfix
.cf {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}

	zoom: 1;
}