// <nav>
.nav--head-primary {
	float: right;
}

// skip link
.head-primary-skip {
	.hide-but-read;
}

// toggle
.head-primary-toggle {
	position: fixed;
	left: 0;
	top: 0;

	display: block;
	width: 6rem;
	height: 1rem;
	margin: 1.7rem 0 0 0;
	padding: 1rem 0;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	// background: green;
	// outline: 1px solid green;

	cursor: pointer;

	opacity: 0;

	transform: translate( -5rem, 0 );

	.transition;
	// transition-property: transform, margin;

	&::before {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-position: center center;
		.svg( 'icon-nav-24--text', false );

		.transition;					
		transition-property: transform;
	}

	.nav-sticky & {
		// margin-left: 2rem;

		transform: translate( 0, 11rem );

		opacity: 1;		
	}

	.nav-sticky.show-head-primary &,
	// .nav-sticky.scrolled-to-bottom &,
	.nav-sticky.scrolled-to-top &,
	.nav-sticky.scroll-direction--up & {
		// margin-left: -3rem;

		transform: translate( -5rem, 0 );		

		opacity: 0;		
	}

	.scrolled-to-firstscreen .home & {

		&::before {
			.svg( 'icon-nav-24--bg', false );		
		}
	}
}

// <ul>
.head-primary-list {
	margin: 0 0 0 0;
	padding: 0;

	list-style-type: none;
}

.head-primary-list > li {
	display: inline-block;
	vertical-align: top;

	margin: 0 0 0 2rem;
}

.head-primary-list > li.hide-on-large-screens {
	display: none;
}

.head-primary-list > li a {
	position: relative;

	display: block;

	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	line-height: 1;
	.type--uppercase;

	.transition;

	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 110%;
		bottom: 0;
		z-index: -1;

		display: block;
		height: 2px;
		margin: 0 0 -0.25em 0;

		background: @color--accent;

		// opacity: 0.5;		

		.transition--quicker;
	}

	&:hover,
	&:focus {
		// transform: translateY( -0.5rem );

		&::after {
			right: 0;
		}
	}	
}

.head-primary-list > li.current-menu-item a,
.head-primary-list > li.current-menu-parent a,

.single-post .head-primary-list > li.news a,
.single-cases .head-primary-list > li.cases a {
	// transform: translateY( -0.5rem );	

	&::after {
		right: 0;
		
		background: @color--accent-light;	

		opacity: 1;	
	}

	&:hover,
	&:focus {

	}
}

// submenu
.head-primary-list ul {
	margin: 0 0 0 1rem;
	padding: 0;

	list-style-type: none;
}


@media @regular {
	.head-primary-toggle,
	.nav-sticky .head-primary-toggle {
		left: 50%;

		width: 3.5rem;
		margin-left: -1.75rem;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;

		transform: translate( 0, 11rem );

		background: @color--bg;
		border-radius: 50%;
		// filter: drop-shadow( 0 0.25rem 0.25rem rgba( 0,0,0,0.25 ) );
		box-shadow: 0 0.125rem 0.5rem rgba( 0,0,0,0.25 );
	
		.nav-sticky.show-head-primary &,
		// .nav-sticky.scrolled-to-bottom &,
		.nav-sticky.scrolled-to-top &,
		 .nav-sticky.scroll-direction--up & {
			margin-left: -1.75rem;

			transform: translate( 0, -3rem );
		}	
	}
}



@media @smaller {
	// <nav>
	.nav--head-primary {
		position: fixed;
		left: 0;
		right: 0;
		top: auto;
		bottom: 100%;
		z-index: 200;

		float: none;
		display: block;
		max-height: 100vh;
		margin: 0;
		padding: 0;

		background: @color--bg;

		// background: fade( green, 50% );

		.transition;		

		// transform: translate( 0, -100% );

		// causes horrible performance in chrome for android:
		// filter: drop-shadow( 0 0.25rem 0.25rem rgba( 0,0,0,0.25 ) );

		.show-head-primary & {
			transform: translate( 0, 100% );
		}
	}

	// toggle
	.head-primary-toggle {
		position: absolute;
		left: 0;
		right: 0;
		top: auto;
		bottom: 0;
		z-index: 13;

		display: block;
		width: auto;
		height: ( 1rem * @font-size--larger-2 );
		margin: 0 0 -5rem 0;
		padding: 2rem 1.5rem;

		line-height: 1;
		
		white-space: nowrap;
		text-indent: 300%;
		overflow: hidden;

		background-color: transparent !important;
		// background-repeat: no-repeat;
		// background-position: 0 0;
		// background-size: 100% 100%;	
		// .svg( 'angle--2-shadow', false );		
		border-radius: 0 !important;

		filter: none !important;
		box-shadow: none;

		cursor: pointer;
		user-select: none;

		opacity: 1;

		transform: none;
		// .transition;
		// transition-property: transform;
		transition: none;

		&::before {
			content: ' ';
			
			position: absolute;
			left: auto;
			right: 0;
			top: 0;

			display: block;
			width: 7rem;
			height: 5rem;
			margin-top: 0;

			font-size: 2rem;
			line-height: 2.5;
			text-indent: 0;
			text-align: center;

			background-repeat: no-repeat;
			background-position: center center;
			.svg( 'icon-nav-24--text', false );				
		}

		&:hover,
		&:focus {

		}

		.show-head-primary & {

			&::before {
				.svg( 'icon-close-24--text', false );				
			}		
		}
	}

	.head-primary-list {
		margin: 0;
		padding: 1rem 0;
	}

	.show-head-primary .head-primary-list {
		box-shadow: 0 0 0.5em rgba( 0,0,0,0.2 );
	}

	.head-primary-list li {
		display: block;

		margin: 0;
		padding: 0;   
	}

	.head-primary-list > li.hide-on-large-screens {
		display: block;
	}	

	.head-primary-list li a {
		display: block;
		margin: 0;
		padding: 1.5rem 3rem;

		line-height: 1;

		&::after {
			display: none;
		}
	}

	.head-primary-list li a:hover,
	.head-primary-list li a:focus,
	.head-primary-list li.current-menu-item a {
		transform: none;
	}

	// submenu 
	.head-primary-list li ul {
		margin: 0;
		padding: 0;
	}

	.head-primary-list li ul li {

	}

	.head-primary-list li ul li a {
		padding-left: 2rem;
	}

}




@media @small {
	// <nav>
	.nav--head-primary {

		.show-head-primary & {

		}
	}

	// toggle
	.head-primary-toggle {

		&::before {
			width: 4rem;
		}

		&:hover,
		&:focus {

		}

		.show-head-primary & {
			&::before {

			}		
		}
	}

	.head-primary-list {

	}

	.show-head-primary .head-primary-list {

	}

	.head-primary-list li {
  
	}

	.head-primary-list li a {
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		font-weight: @font-weight--bolder-2;
	}

	.head-primary-list li a:hover,
	.head-primary-list li a:focus,
	.head-primary-list li.current-menu-item a {

	}

	// submenu 
	.head-primary-list li ul {

	}

	.head-primary-list li ul li {

	}

	.head-primary-list li ul li a {

	}
}