// <nav>
.nav--footer-primary {
	padding: 3rem 0 0;
}

// skip link
.footer-primary-skip {
	.hide-but-read;
}

.footer-primary-list {
	margin: 0;
	padding: 0;
	
	list-style-type: none;

	.cf;

	.flexbox.flexwrap & {
		display: flex;
		justify-content: space-between;
	}	
}

.footer-primary-list > li {
	float: left;
	width: 24.75%;

	.flexbox.flexwrap & {
		float: none;
		width: auto;
	}
}

.footer-primary-list > li > a {
	display: block;

	.type--uppercase;
	// font-size: @font-size--smaller-1;

	&:hover,
	&:focus {
		// transform: translateX( 1em );
	}
}

.footer-primary-list > li.current_menu_item a,
.footer-primary-list > li.current_menu_parent a {

	&:hover,
	&:focus {

	}
}

// submenu 
.footer-primary-list > li ul {
	margin: 1em 0 0 0;
	padding: 0;
	
	list-style-type: none;	
}

.footer-primary-list > li ul > li {
	margin: 0 0 0.25em 0;
}

.footer-primary-list > li ul > li a {

	opacity: 0.4;

	&:hover,
	&:focus {
		opacity: 1;

		// transform: translateX( 1em );		
	}
}


@media @smaller {

}


@media @small {
	// <nav>
	.nav--footer-primary {
		// padding-left: 1.5rem;
		// padding-right: 1.5rem;
	}

	// skip link
	.footer-primary-skip {

	}

	.footer-primary-list {
		display: block;
	}

	.footer-primary-list > li {
		display: block;
	}

	.footer-primary-list > li > a {
		display: block;

		font-size: @font-size--smaller-1;
		text-align: center;

		&:hover,
		&:focus {

		}
	}

	.footer-primary-list > li.current_menu_item a,
	.footer-primary-list > li.current_menu_parent a {

		&:hover,
		&:focus {

		}
	}

	// submenu 
	.footer-primary-list > li ul {
		display: none;
	}

	.footer-primary-list > li ul > li {

	}

	.footer-primary-list > li ul > li a {


		&:hover,
		&:focus {

		}
	}
}