.newsletterpopup {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 8000 !important;

	margin: 0;
	padding: 1rem 1.5rem;

	color: @color--text;
	text-align: left;

	background: #fff;

	box-shadow: 0 0 0.5rem rgba( 0,0,0,0.2 );

	transform: translateY( 0 );

	.transition;

	&.hidden {
		transform: translateY( 100% ) !important;

		&:hover {
			transform: translateY( 100% ) !important;		
		}		
	}

	&:hover {
		box-shadow: 0 0 0.5rem rgba( 0,0,0,0.2 );

		transform: translateY( 0 ) !important;		
	}
}

.newsletterpopup-close {
	position: absolute;
	right: 0;
	top: 0;

	display: blcok;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0.25rem;

	white-space: nowrap;
	overflow: hidden;
	text-indent: 300%;

	background-repeat: no-repeat;
	background-position: center center;
	.svg( 'icon-close-16--text', false ); 

	opacity: 0.3;

	&:hover,
	&:focus,
	&:active {
		opacity: 1;
	}
}

.newsletterpopup > h4 {
	display: block;
	margin-top: 0.5rem;
}

.newsletterpopup p {

}

.newsletterpopup label {
	display: none;
}

.newsletterpopup input[type="email"] {
	height: auto;
	margin: 0 2.5rem 0 0;
	padding: 0.25rem 2.5rem 0.25rem 0;

	font-weight: @font-weight;
	color: @color--text;
	text-align: left;

	// border-bottom: 2px solid fade( @color--text, 15% );

	&::placeholder {
		color: fade( @color--text, 20% );

		opacity: 1;
	}
}

.newsletterpopup input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;

	width: 2rem;
	height: 2rem;
	margin: 0 -0.125rem 0 0;

	opacity: 1;

	background-color: @color--accent;
	background-size: auto auto;
	.svg( 'icon-arrow-right-16--text', false );

	border-radius: 50%;

	&:hover,
	&:focus,
	&:active {
		.svg( 'icon-arrow-right-16--text', false );		
	}
}

.newsletterpopup .mc4wp-response {
	color: @color--text;
}