.js {

	& .loading-indicator {
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 1000;

		display: block;
		width: 4rem;
		height: 4rem;
		margin: -2rem 0 0 -2rem;

		opacity: 0;
		pointer-events: none;

		border-radius: 50%;	

		opacity: 0;

    	transform: scale( 0 );		

		.transition;

		&::before,
		&::after {
			content: ' ';

			position: absolute;
			left: 50%;
			top: 50%;

			box-sizing: border-box;
			display: block;
			width: 3rem;
			height: 3rem;
			margin: -1.5rem 0 0 -1.5rem;	

			border-radius: 50%;	

			animation: pulse 1000ms infinite ease-out alternate;							
		}

		&::before {
			content: ' ';

			background: @color--accent;
		}

		&::after {
			content: ' ';

			border: 3px solid @color--accent;
			
			animation-delay: -500ms;
		}
	}

	& .widgets,
	& .main > *,
	& .footer {
		animation: fadeIn 500ms 1 ease;
		animation-fill-mode: backwards;

		.transition;
		transition-duration: 500ms;
		transition-property: transform, opacity;
	}

	&.page-transitioning {

		background: @color--bg;

		& body {
			background: @color--bg;			
		}

		& .loading-indicator {
			opacity: 1;

    		transform: scale( 1 );			
		}

		& .widgets,
		& .main > *,
		& .footer {
		    opacity: 0;
		}		
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;

    transform: scale( 1 );    
  }
  
  100% {
    opacity: 0;

    transform: scale( 0 );    
  }
}