.pagination {
	position: relative;
	z-index: 20;

	text-align: center;

	.layouted & {
		position: absolute;

		left: 0;
		right: 0;
		bottom: 0;

		margin: 0 0 -6rem 0;
	}

	&.disabled {

	}

	text-align: center;

	.transition;

	.js & {
		opacity: 0;		
	}

	.js .layouted & {
		opacity: 1;		
	}
}

.pagination .page-numbers {
	display: none;

	.type--uppercase;
	line-height: 1;
	text-align: center;	
}

.pagination .prev,
.pagination .next {


	&:hover,
	&:focus {
		
	}
}

.pagination .prev {

}

.pagination .next {
	display: inline-block;

	width: 4rem;
	height: 4rem;

	background-color: @color--bg;
	background-repeat: no-repeat;
	background-position: center center;
	.svg( 'icon-plus-24--text', false );
	border-radius: 50%;

	overflow: hidden;
	white-space: nowrap;
	text-indent: 300%;

	.transition;

	&:hover,
	&:focus {
		background-size: ( 24px / 1.1 ) ( 24px / 1.1 );

		transform: scale( 1.2 );
	}

	.loading-posts & {
		animation: pulseSubtle 1000ms infinite ease-out;				
	}
}

.pagination.disabled .next {
	transform: scale( 0 );

	opacity: 0;
}

.pagination .dots {

}


@media @smaller {
	.pagination {
		margin-top: 3rem;
		margin-bottom: -6rem;

		.js & {
			opacity: 1;		
		}		
	}

	.pagination .page-numbers {
		width: 3rem;
		height: 1.2rem;
		margin: 0 0.5rem;
		padding: 1rem 0 0.8rem;

		vertical-align: top;

		border-radius: 50%;

		&:first-child {
			margin-left: 3.5rem;
		}
	}

	.pagination .prev,
	.pagination .next {
		display: inline-block;

		white-space: nowrap;
		overflow: hidden;
		text-indent: 300%;

		background-color: @color--bg;
		background-repeat: no-repeat;
		background-position: center center;

		&:hover,
		&:focus {
			transform: none;

			background-size: auto auto;			
		}
	}

	.pagination .prev {
		margin-left: 0 !important;

		.svg( 'icon-arrow-left-16--text' );
	}

	.pagination .next {
		.svg( 'icon-arrow-right-16--text' );
	}	

	.pagination .current {
		display: inline-block;

		&:last-child {
			margin-right: 4.5rem;
		} 		
	}
}