.posts--cases {

}

.posts--cases > .shell {

}

.posts--cases .grid {

}


.posts--cases .sizer {
	height: 1em;

	background: red;

	visibility: hidden;
}

.posts--cases .sizer-item {
	width: 44.9%;
}

.posts--cases .sizer-gutter {
	width: 5%;
}

.post--cases {

}

.post-image--cases {

}

.post-image--cases > img {

}

.post--cases:hover .post-image--cases > img {

}

.post--cases h2 {

	& span {
		display: block;
	}

	& .client {
		opacity: 0.4;
	}
}

.post-time--cases {

}

.post-terms--cases {

}

.post-sector {
	float: right;
	margin-bottom: 1rem;	

	// font-size: @font-size--smaller-1;
	font-size: 1rem;

	.type--uppercase;	

	& > a {
		// opacity: 0.4;
	}	
}

.post-discipline {
	float: left;
	margin-bottom: 1rem;	

	// font-size: @font-size--smaller-1;
	font-size: 1rem;

	.type--uppercase;	

	& > a {
		// opacity: 0.4;
	}	
}

.post-content--cases {

}


@media @smaller {
	.posts--cases {

	}

	.post--cases {

	}

	.posts--cases .post:nth-child( 1 ) {

	}

	.posts--cases .post:nth-child( 2 ) {

	}	

	.post-sector {
		font-size: @font-size--smaller-1;
	}

	.post-discipline {
		font-size: @font-size--smaller-1;
	}
}