.post--tweet {

}


.post--tweet h2 {
	margin: 0 0 -0.25rem;

	font-size: @font-size--larger-2;
	line-height: @line-height;	
}

.post--tweet h2 > a {
	display: inline-block;
	vertical-align: bottom;

	max-width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-time--tweet {
	float: right;
	margin-bottom: 1.5rem;

	font-size: @font-size--smaller-1;

	.type--uppercase;
}

.post-source--tweet {
	float: left;
	margin-bottom: 0.75rem;	

	font-size: @font-size--smaller-1;

	.type--uppercase;	
}

.post-source-username--tweet {
	font-size: 1rem;
	text-transform: none;
	letter-spacing: @letter-spacing;
}


@media @smaller {
	.posts--tweet {

	}

	.post--tweet {

	}
}