.posts--post {

}

.posts--post > .shell {

}

.posts--post .grid {

}

.posts--post .sizer {
	height: 1em;

	background: red;

	visibility: hidden;
}

.posts--post .sizer-item {
	width: 44.9%;
}

.posts--post .sizer-gutter {
	width: 5%;
}

.post--post {

}

.post-image--post {

}

.post-image--post > img {

}

.post--post:hover .post-image--post > img {

}

.post--post h2 {

}

.post-time--post {

}

.post-terms--post {

	& > a {
		// opacity: 0.4;
	}
}

.post-content--post {

}


@media @smaller {
	.posts--post {

	}

	.post--post {

	}

	.posts--post .post:nth-child( 1 ) {

	}

	.posts--post .post:nth-child( 2 ) {

	}	
}