.posts {
	position: relative;

	float: left;
	width: 100%;
	margin: 2rem 0 0;
	padding-bottom: 12rem;

	background: @color--accent-light;

	transition-property: background;

	&::before,
	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		z-index: 10;

		display: block;
		height: 5rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
	}

	&::before {
		bottom: 0;

		.svg( 'angle--1', false );						
	}

	&::after {
		top: 0;
		
		.svg( 'angle--2', false );						
	}	
}

.posts > .shell {

}

.posts .grid {
	margin-left: -2%;
	margin-right: -2%;

	.transition;
	transition-property: height;
}

.post {
	position: relative;
	z-index: 50;

	box-sizing: border-box;
	float: left;
	width: 45.9%;
	margin: 2%;
	padding: 1.5rem;

	background: @color--bg;

	// box-shadow: 0 0 0 0 fade( @color--text, 50% );

	.transition--quicker;
	transition-property: opacity, transform, box-shadow;


	&::before,
	&::after {
		content: ' ';
		
		position: absolute;

		display: block;		

		background: fade( @color--text, 50% );

		transform-origin: 0 0;

		.transition--quicker;		
	}

	&::before {
		left: 0;
		bottom: 0;

		width: 100%;
		height: 0;
		margin: 0 0 0 0;

	}
	
	&::after {
		right: 0;
		top: 0;
		bottom: 0;

		width: 0;
		margin: 0 0 0 0;
	}

	.no-touchevents  &:hover {		
		transform: translate( -0.5rem, -0.5rem ) !important;

		// box-shadow: 1rem 1rem 0 0 fade( @color--text, 50% );		
	
		&::before {
			height: 0.5rem;
			transform: translate( 0.5rem, 0.5rem );
		}

		&::after {
			width: 0.5rem;
			margin-bottom: 0.5rem;			
			transform: translate( 0.5rem, 0.5rem );
		}
	}	

	&:last-child {
		// margin-bottom: 0;
	}

	&.loading {
		opacity: 0;

		transform: scale( 0 );
	}

}

.post:nth-child( 1 ) {
	margin-top: -2rem;
}

.post:nth-child( 2 ) {
	margin-top: 8rem;
}

.post:last-of-type {
	// margin-bottom: -3rem;
}

.post-image {
	position: relative;

	display: block;
	margin: -1.5rem -1.5rem 1.5rem;

	overflow: hidden;

	background: @color--accent-light;

	&::before {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;

		display: block;
		height: 2rem;
		margin: 0 -1px 0 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
		.svg( 'angle--1', false );	

		// prevent 1px gap on transforming		
		border-bottom: 1px solid @color--bg;			
		transform: translateY( 1px );
	}
}

.post-image > img,
.post-image > .placeholder {
	left: 0 !important;
	top: 0 !important;

	display: block;
	width: 100%;
	height: auto;

	.transition;
	transition-property: opacity, transform;	
	transition-duration: @transition-duration, 10s;

	.js & {
		opacity: 0;
	}
}

.js .post-image.loaded > img {
	opacity: 1;
}	

.post:hover .post-image > img {
	transform: scale( 1.2 );
}

.post h2 {
	clear: both;

	margin: 0;

	font-size: @font-size--larger-3b;
	font-weight: @font-weight;

	& > a {
		display: block;
	}
}

.post-time {
	float: right;
	margin-bottom: 1rem;

	// font-size: @font-size--smaller-1;
	font-size: 1rem;

	.type--uppercase;
}

.post-terms {
	float: left;
	margin-bottom: 1rem;	

	// font-size: @font-size--smaller-1;
	font-size: 1rem;	

	.type--uppercase;	

	& > a {
		// opacity: 0.4;
	}
}

.post-content {

}


@media @smaller {
	.posts {
		margin-top: 3rem;
		margin-bottom: 0;
	}

	.posts .grid {
		margin-left: 0;
		margin-right: 0;
	}

	.post {
		float: none;

		width: auto;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.post:nth-child( 1 ) {

	}

	.post:nth-child( 2 ) {
		margin-top: 0;
	}	

	.post-image {

		&::before {
			height: 4.5rem;
		}
	}

	.post h2 {
		font-size: @font-size--larger-2;

		& > a {

		}
	}	

	.post-time {
		font-size: @font-size--smaller-1;
	}

	.post-terms {
		font-size: @font-size--smaller-1;
	}
}


@media @small {
	.posts {

	}

	.post {
		padding: 1em;
	}

	.post:nth-child( 1 ) {

	}

	.post:nth-child( 2 ) {
		margin-top: 0;
	}	

	.post-image {
		margin-top: -1rem;
		margin-left: -1rem;
		margin-right: -1rem;
	}

	.post h2 {

	}
}