.posts--related {
	float: left;
	clear: both;
	width: 100%;

	margin-bottom: 0;
	padding: 8rem 0;
}

.posts--related > .shell > h3 {
	margin-bottom: 3rem;

	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	font-weight: @font-weight;
	line-height: 1.25;	
	text-align: center;

	opacity: 0.5;	
}

.posts--related .grid {
	margin-left: -1.5%;
	margin-right: -1.5%;
}

.post--related {

	width: 29.9%;
	margin: 0 1.5%;
	padding: 1rem;

	&:nth-child( 1 ) {
		margin-top: 0;
	}

	&:nth-child( 2 ) {
		margin-top: 0;
	}

	&:last-child {

	}

	&:last-of-type {
		margin-bottom: 0;
	}	

	.no-touchevents &:hover {

	}
}

.post-image--related,
.single .post-image--related {
	position: relative;

	display: block;
	min-height: 0;
	height: 0;
	margin: -1rem -1rem 1.5rem;
	padding: 66.6666% 0 0 0;

	& > img {
		position: absolute;
		left: 0;
		top: 0;

		animation: none;

		.objectfit & {
			width: 100%;
			height: 100%;
			margin: 0;
			object-fit: cover;
		}
	}

	&::before {
		height: 1.5rem;
	}
}

.post--related h2 {
	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	
	& span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


@media @regular {
	.posts--related {

	}

	.post--related {
		width: 46.9%;

		&:nth-child( 3 ) {
			display: none;
		}
	}
}

@media @smaller {
	.posts--related {

	}

	.posts--related > .shell > h3 {
		font-size: @font-size--larger-1;		
	} 

	.post--related {
		width: auto;
		margin-bottom: 2rem;

		&:nth-child( 3 ) {
			display: block;
		}
	}

	.post-image--related,
	.single .post-image--related {

		& > img {

		}

		&::before {
			// height: 4.5rem;
			height: 2rem;
		}
	}
}