.single {

}

.single .content {
	margin: 0 0 3rem;
}

.single-content {
	position: relative;

	clear: both;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.post-image--single {
	position: relative;
	max-height: 36rem;
	max-height: calc( ~'100vh - 20rem' );
	min-height: 36vw;
	margin: 0 0 3rem;

	background: @color--accent-light;

	// &::after {
	// 	content: ' ';

	// 	position: absolute;
	// 	top: 0;		
	// 	left: 0;
	// 	right: 0;
	// 	z-index: 10;

	// 	display: block;
	// 	height: 5rem;
	// 	margin: 0;

	// 	background-repeat: no-repeat;
	// 	background-position: 0 0;
	// 	background-size: 100% 100%;		
		
	// 	.svg( 'angle--2', false );						
	// }	

	&::before {
		height: 4rem;
	}
}

.post-image--single > img {
	position: relative;

	animation: zoomIn 16s 1 ease;
	animation-fill-mode: forwards;

	.objectfit & {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.js & {
		opacity: 0;
	}

	.js .loaded& {
		opacity: 1;
	}

	.js.no-objectfit .loaded& {
		opacity: 0;
	}	

	.js.no-objectfit .loaded.centered& {
		opacity: 1;
	}	
}

.single h1 {
	float: left;
	width: 70%;
	margin: 0 10% 3rem 0;

	& > span {
		display: block;
	}
}

.single .post-terms {

	& > a {

		&:hover,
		&:active {
			color: @color--accent;
		}
	}
}


@media @regular {
	.single .content {
		margin-top: 0.5rem;
	}
}


@media @smaller {
	.single {

	}

	.single .content {
		margin-top: 0;
		margin-bottom: 5rem;
	}

	.post-image--single {
		max-height: 100%;
		min-height: 0;
		margin-top: -3.75rem;
		margin-left: -1.5rem;
		margin-right: -1.5rem;

		&::before {
			height: 5rem;
		}
	}

	.post-image--single > img {
		position: relative;
		top: 0;

		transform: none;
		animation: none;

		.js & {
			opacity: 0;
		}

		.js .loaded& {
			opacity: 1;
		}		
	}

	.post-image--single:hover > img {

	}

	.single h1 {
		float: none;
		width: auto;
		margin-right: 0;
	}

	.single-content {
		padding-top: 3rem;
	}
}


@media @small {
	.single h1 {
		font-size: 2.5rem;
	}

	.single .post-image {

	}

	.single .post-image > img {
		width: 120%;
		margin-left: -10%;
		margin-right: -10%;
	}
}