.single-post {

}

.single-post h1 + * {
	margin-top: 1em;
} 

.single-post .post-terms {
	//float: right;
	width: 20%;
	margin-bottom: 1em;

	font-size: 1rem;
}

.single-post .post-time {
	//float: right;
	width: 20%;
	margin-bottom: 1em;

	font-size: 1rem;
}

.single-content--post {

}


@media @smaller {
	.single-post h1 + * {
		margin-top: 0;
	} 

	.single-post .post-terms {
		float: none;		
		width: auto;
	}

	.single-post .post-time {
		width: auto;
		float: none;
	}

	.single-content--post {

	}
}