.single-cases {

}

.single-cases h1 {

	& > span {

	}

	& > .client {
		opacity: 0.25;
	}

	& + * {
		margin-top: 1em;
	}
}

// .single-cases h1 + * {
// 	margin-top: 1em;
// } 

.single-cases .post-discipline {
	float: right;
	width: 20%;
	margin-bottom: 1em;

	font-size: 1rem;
	text-align: left;
}

.single-cases .post-sector {
	float: right;
	width: 20%;
	margin-bottom: 1em;

	font-size: 1rem;
	text-align: left;
}

.single-content--cases {
	overflow: hidden;
}

.single-content--cases h3 {
	position: relative;
	left: 0;
	top: auto;
	z-index: 20;

	clear: both;
	width: 28%;
	margin-left: 0;
	margin-top: 3.4rem;
	padding: 0.75em 0;

	.type--uppercase;
	font-size: 1rem;
	text-align: center;
	color: @color--text !important;

	background: @color--bg;


	&::after {
		content: ' ';

		position: absolute;
		left: 50%;
		top: 0;
		z-index: -1;

		display: block;
		width: 2px;
		height: 999rem;
		margin: 2.5rem 0 0 -1px;

		background: @color--accent-light;
	}

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {

		&::after {
			background: @color--bg;
		}
	}
}

.single-content--cases.inline-content h3 + p {
	margin-top: -3.4rem;
}

.single-content--cases.inline-content img {
	margin-left: 0;
}

.single-content--cases.inline-content figure {
	width: 70%;
	margin-left: 30%;	

	& > img {
		float: none;
		width: 100%;
	}

	& > figcaption {
		float: none;
		width: auto;
		margin: 1rem auto 0;

		text-align: center;
	}
}

.single-content--cases.inline-content .embed-video {
	width: 70%;
	margin-left: 30%;
	padding-top: 39.375%;
}


@media @smaller {
	.single-cases h1 + * {
		margin-top: 0;
	} 

	.single-cases .post-sector {
		float: none;		
		width: auto;
	}

	.single-cases .post-discipline {
		width: auto;
		float: none;
	}

	.single-content--cases {
		
	}

	.single-content--cases.inline-content h3 {
		position: relative;

		width: auto;
		margin: 4em 0 1em !important;
		padding: 0;

		text-align: left;

		&::after {
			display: none;
		}

		&:first-child {
			margin-top: 0 !important;
		}
	}

	.single-content--cases.inline-content h3 + p {
		margin-top: 0;
	}	

	.single-content--cases.inline-content figure {
		width: auto;
		margin-left: 0;
	}

	.single-content--cases.inline-content .embed-video {
		margin-left: 0;
		width: 100%;
		padding-top: 56.25%;
	}
}