.status {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 0;

	margin: 2.5rem 2rem 2rem;

	text-align: center;

	.scrolled-to-lastscreen & {
		top: auto;
		bottom: 0;

		margin-top: 2rem;
		margin-bottom: 2.5rem;
	}
}

.status > span {
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5rem 0;

	font-size: @font-size--larger-2;
	line-height: 1;
	color: @color--bg;
}

.status--time {


	& .digit {
		display: inline-block;
		width: 0.6em;
		margin: 0;

		text-align: center;

		// border: 1px solid red;
	}
}

.status--weather {
	
}


@media @smaller {
	.status {
		display: none;
	}
}