// COLORS
@color--bg: #fff;
@color--text: #111111;
@color--link: #888;

@color--accent: #cccccc;
@color--accent-light: #eaeaea;


// TYPOGRAPHY
@font--1: 'Averta Web', sans-serif;
@font--2: 'Merriweather', Georgia, Times, serif;

@font-size--larger-0: 1.125rem;
@font-size--larger-1: 1.25rem;
@font-size--larger-1b: 1.375rem;
@font-size--larger-2: 1.5rem;
@font-size--larger-3: 1.75rem;
@font-size--larger-3b: 2rem;
@font-size--larger-4: 3rem;
@font-size--larger-5: 4rem;

@font-size--smaller-1: 0.875rem;
@font-size--smaller-2: 0.75rem;
@font-size--smaller-3: 0.5rem;

@font-weight: 400;
@font-weight--bolder-1: 500;
@font-weight--bolder-2: 600;
@font-weight--lighter-1: 300;
@font-weight--lighter-2: 200;
@line-height: 1.3;

@letter-spacing: 0.025em;


// BREAKPOINTS

@fixed-em: 84em;
@fixed: ~'only screen and ( min-width: @{fixed-em} )';

@medium-em: 76em;
@medium: ~'only screen and ( max-width: @{medium-em} )';

@regular-em: 60em;
@regular: ~'only screen and ( max-width: @{regular-em} )';

@smaller-em: 47.5em;
@smaller: ~'only screen and ( max-width: @{smaller-em} )';

@small-em: 32em;
@small: ~'only screen and ( max-width: @{small-em} )';


// TRANSITIONS
@transition-duration: 400ms;


// SCROLLBARS
@scrollbar-color: @color--text;
@scrollbar-color-alpha: 50%;
@scrollbar-color-alpha-hover: 100%;