.widgets {
	box-sizing: border-box;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;

	display: none;
	// height: calc( ~'100vh - 7rem' );
	margin: 0 3rem 0;
	padding: 15rem 0 0;

	.home & {
		display: block;
	}
}

.widgets > .shell {
	position: absolute;
	left: 0;
	right: 0;

	height: 100%;
}

// .widgets-tagline {
// 	position: absolute;
// 	left: 0;
// 	top: 50%;

// 	width: 11em;
// 	margin: -2em 0 0 0;

// 	font-size: @font-size--larger-5;
// }

.widgets-canvas {
	position: relative;
	height: 100%;
	margin: 0 -1.5rem;

	.scrolled-to-lastscreen & { 
		display: none !important;
	}

}

.widget {
	position: relative;
	z-index: 1; // hehe :)

	box-sizing: border-box;
	float: left;
	width: ~'calc( 33.3333% - 0.1% - 3rem )';
	margin: 0 1.5rem 3rem;

	animation: fallIn 500ms 1 ease backwards;

	.transition--quicker;

	@delay: 400ms;

	&:nth-child( 1 ) {
		animation-delay: @delay + 100ms;
	}

	&:nth-child( 2 ) {
		animation-delay: @delay + 200ms;
	}

	&:nth-child( 3 ) {
		animation-delay: @delay + 300ms;
	}

	&:nth-child( 4 ) {
		clear: left;

		animation-delay: @delay + 400ms;
	}

	&:nth-child( 5 ) {
		animation-delay: @delay + 500ms;
	}

	&:nth-child( 6 ) {
		animation-delay: @delay + 600ms;
	}		

}	

.widget--primary {
	padding: 1rem 1rem;

	background: @color--bg;

	// box-shadow: 0.5rem 0.5rem 0 0 fade( @color--text, 50% );


	&::before,
	&::after {
		content: ' ';
		
		position: absolute;

		display: block;		

		background: fade( @color--text, 50% );

		transform-origin: 0 0;

		.transition--quicker;		
	}

	&::before {
		left: 0;
		bottom: 0;

		width: 100%;
		height: 0;
		margin: 0 0 0 0;

	}
	
	&::after {
		right: 0;
		top: 0;
		bottom: 0;

		width: 0;
		margin: 0 0 0 0;
	}

	.no-touchevents  &:hover {		
		z-index: 100;

		transform: translate( -0.5rem, -0.5rem ) !important;

		// box-shadow: 1rem 1rem 0 0 fade( @color--text, 50% );		
	
		&::before {
			height: 0.5rem;
			transform: translate( 0.5rem, 0.5rem );
		}

		&::after {
			width: 0.5rem;
			margin-bottom: 0.5rem;			
			transform: translate( 0.5rem, 0.5rem );
		}
	}	
}

.learn-more {
	position: fixed;
	left: 50%;
	bottom: 0;

	display: block;
	width: 3rem;
	height: 3rem;
	margin: 0 0 2.5rem -1.5rem;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: center center;
	.svg( 'icon-arrow-down-alt-24--white', false );

	animation: floating 2s infinite ease;

	opacity: 0;

	.transition;
	transition-property: opacity;

	.scrolled-to-firstscreen .home & {
		opacity: 1;
	}
}


@keyframes fallIn {
	0% {
		opacity: 0.001;

		transform: translateY( -24rem );
	}

	100% {
		opacity: 1;

		transform: translateY( 0 );
	}	
}

.widget h4 {
	margin-bottom: 1rem;	

	font-size: @font-size--smaller-1;
}


@media only screen and ( max-height: 48em ) {
	.widget {

	}
}


@media @medium {
	.widgets {

	}

	.widget {

	}		
}


@media @smaller {
	.widgets {
		position: static;

		margin: 0 0 8rem;
		padding: 10.5rem 3rem 0;
	}

	.widgets > .shell {
		position: relative;

		height: auto;
	}	

	// .widgets-tagline {
	// 	position: fixed;
	// 	left: 0;
	// 	top: 50%;

	// 	display: none;
	// 	margin: -2em 0 0 3rem;

	// 	font-size: @font-size--larger-4;				

	// 	.home & {
	// 		display: block;
	// 	}
	// }


	.widgets-canvas	{
		display: block !important;
		height: auto;
		margin: 0;
		padding: 0;
	}

	.widget {
		position: relative;
		z-index: 20 !important;

		float: none;
		display: block;
		width: auto;
		margin: 0 0 1.5rem 0;

		opacity: 1 !important;

		transform: none;
		box-shadow: none;

		animation: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			transform: none !important;
			box-shadow: none;
		}
	}

	.widget--primary {

		&:hover {
			transform: none !important;
			box-shadow: none;
		}
	}

	.widget h4 {
		font-size: @font-size--smaller-1;
		font-weight: @font-weight--bolder-1;		
	}
}


@media @small {
	.widgets {
		// margin: 0 0 5rem;

		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	// .widgets-tagline {
	// 	z-index: 0;
	// 	width: 12em;
	// 	margin-top: -2em;
	// 	margin-left: 1.5rem;

	// 	font-size: @font-size--larger-3;
	// 	font-weight: @font-weight--bolder-1;

	// 	// thin font a little
	// 	// -moz-osx-font-smoothing: grayscale;
	// 	// -webkit-font-smoothing: antialiased;		
	// }


	.widgets-canvas	{

	}

	.widget {

		&:hover {

		}
	}
}