.widget_text {
	text-align: center;
}

.widget_text h4 {
	display: none;
}

.widget_text a {
	display: inline-block;
	vertical-align: top;
	width: 2rem;
	height: 1.5rem;

	margin: 0 0.75rem 1rem;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	background-repeat: no-repeat;
	background-size: auto 1.5rem;
	background-position: center center;

	&:hover,
	&:focus {
		color: @color--accent;
	}
}

.widget_text .twitter {
	.svg( 'icon-twitter-32--white', false );
}

.widget_text .linkedin {
	.svg( 'icon-linkedin-32--white', false );
}

.widget_text .vimeo {
	.svg( 'icon-vimeo-32--white', false );
}

.widget_text .rss {
	.svg( 'icon-rss-32--white', false );
}

.widget_text .mail {
	.svg( 'icon-mail-32--white', false );
}


@media @medium {
	.widget_text a {
		margin-top: 0;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}


@media @smaller {
	.widget_text {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	.widget_text a {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;		
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}	
}