.widget--status {
	padding: 0 0;

	text-align: center;

	.scrolled-to-lastscreen & {

	}
}

.widget--status > span {
	display: inline-block;
	vertical-align: top;
	margin: 0 0.5rem;

	font-size: @font-size--larger-2;
	line-height: 1.15;
	color: @color--bg;
}

.widget--status .status--time {


	& .digit {
		display: inline-block;
		width: 0.6em;
		margin: 0;

		text-align: center;
	}
}

.widget--status .status--weather {
	
}


@media @medium {
	.widget--status > span {
		display: block;
		margin-bottom: 0.5rem;
	}
}



@media @smaller {
	.widget--status {
		display: none !important;
	}
}