.widget--cases {
	.widget--primary;

	padding-bottom: 0.8rem;
}

.widget-image--cases {
	position: relative;

	display: block;
	margin: -1rem -1rem 0;
	padding: 66.6666% 0 0 0;

	overflow: hidden;

	background: @color--text;

	&::after {
		content: ' ';

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;

		display: block;
		height: 1.5rem;
		margin: 0 -1px 0 0;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 100%;
		.svg( 'angle--1', false );	

		// prevent 1px gap on transforming		
		border-bottom: 1px solid @color--bg;			
		transform: translateY( 1px );
	}	
}

.widget-image-image--cases {
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 100%;
	height: auto;

	.transition;

	.js & {
		opacity: 0;
	}	

	.js .loaded & {
		opacity: 1;
	}

	.fit-height &  {
		left: 50% !important;

		width: auto;
		height: 100%;

		transform: translateX( -50% ); 
	}

	.fit-width &  {
		top: 50% !important;

		width: 100%;
		height: auto;

		transform: translateY( -50% ); 
	}	
}

.widget--cases h4 {
	margin: 1rem 0 0.5rem 0;
}

.widget--cases h2 {
	margin: 0;

	font-weight: @font-weight--bolder-1;

	& span {

	}

	& .title {
		display: block;
	}

	& .client {
		display: none;
	}		
}


@media only screen and ( max-height: 48em ) {
	.widget--cases {

	}
}


@media @smaller {
	.widget--cases {

	}

	.widget-image--cases {
		height: auto;
		padding-top: 0;


		&::after {
			height: 4.5rem;
		}		
	}

	.widget-image-image--cases {
		position: static;

		opacity: 1 !important;

		transform: none;
	}


	.widget--cases h2 {
		font-size: @font-size--larger-2;
		font-weight: @font-weight;		
	}	
}