.widget_mc4wp_form_widget {
	padding: 0 0;
}

.widget_mc4wp_form_widget h4 {
	display: none;
}

.widget_mc4wp_form_widget p {
	margin: 0;
}

.widget_mc4wp_form_widget form {
	white-space: nowrap;
}


.mc4wp-form-fields {
	position: relative;

	.mc4wp-form-submitted & {
		display: none;
	}
}

.widget_mc4wp_form_widget label {
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	height: ( 1.15 * @font-size--larger-2 );
	vertical-align: top;	

	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	line-height: 1.15;
	color: @color--bg;
	text-transform: none;
	letter-spacing: @letter-spacing;	

	.webkit & {
		margin-top: 1px;
	}
}

.widget_mc4wp_form_widget input[type='email'] {
	appearance: none;
	display: block;
	vertical-align: top;	

	box-sizing: border-box;
	width: 100%;
	height: ( 1.15 * @font-size--larger-2 );
	margin: 0 0 0 0;
	padding: 0 2rem 0 5.5em;

	font-family: @font--1;
	font-size: @font-size--larger-2;
	font-weight: @font-weight--bolder-1;
	line-height: 1.15;
	color: @color--bg;
	text-transform: none;
	letter-spacing: @letter-spacing;	
	text-align: left;

	background: none;
	border: none;	
	// border-bottom: 2px solid @color--text;

	&::placeholder {
		color: fade( @color--bg, 50% );
	}

	&:focus {
		outline: none;
		box-shadow: none;
	}

	&:invalid {
		box-shadow: none;
	}
}

.widget_mc4wp_form_widget input[type='submit'] {
	position: absolute;
	right: 0;
	top: 0;

	display: block;
	vertical-align: top;

	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0 0 0;
	padding: 0 0;

	white-space: nowrap;
	text-indent: 300%;
	overflow: hidden;

	background: none;
	background-repeat: no-repeat;
	background-position: center center;
	.svg( 'icon-check-24--white', false );	
	border: none;

	.transition;

	opacity: 0;

	&:hover,
	&:focus {
		.svg( 'icon-check-24--text', false );	
	}
}

.widget_mc4wp_form_widget input[type='email']:focus + input[type='submit'] {
	opacity: 1;
}

.widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit'] {
	.svg( 'icon-error-24--white', false );	

	pointer-events: none;

	&:hover,
	&:focus {
		.svg( 'icon-error-24--text', false );	
	}	
}

// message
.widget_mc4wp_form_widget .mc4wp-response {
	color: @color--bg;

	white-space: normal;
}


@media @medium {
	.widget_mc4wp_form_widget {
		text-align: center;
	}

	.widget_mc4wp_form_widget form {
		white-space: normal;
	}

	.widget_mc4wp_form_widget label {
		position: relative;

		display: block;
		margin-bottom: 0.5rem;
	}

	.widget_mc4wp_form_widget input[type='email'] {

		display: block;
		width: 100%;
		margin-right: 0;
		margin-bottom: 0.5rem;
		padding-left: 0;
		padding-right: 0;

		text-align: center;
	}

	.widget_mc4wp_form_widget input[type='submit'] {
		position: relative;
		right: auto;
		top: auto;

		margin: 0 auto;

		background-size: 80% 80%;
	}		
}


@media @smaller {
	.widget_mc4wp_form_widget {
		margin-bottom: 2rem;

		.cf;
	}
}


@media @small {
	.widget_mc4wp_form_widget {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}