.widget--twitter {
	.widget--primary;
	padding-bottom: 3rem;

	min-height: ~'calc( ( 100vw - 14rem ) / 3 * 0.82 )';
}

.widget--twitter h4 {
	margin-bottom: 2rem;
}

.scrolled-to-top .widgets.arranged .widget--twitter.populated,
.scrolled-to-bottom .widgets.arranged .widget--twitter.populated {

}

.widget-tweet {

}

.widget-tweet .tweet-content {
	margin: 0 0 1rem 0;

	font-size: @font-size--larger-2;
}

.widget-tweet .tweet-meta {
	position: absolute;
	bottom: 0;

	margin-bottom: 0.75rem;

	color: @color--accent;
}

.widget-tweet .tweet-meta .username {
	display: inline-block;
	margin: 0 1em 0 0;
}

.widget-tweet .tweet-meta .date {
	display: inline-block;
}


@media @smaller {
	.widget--twitter {

	}

	.widget--twitter.populated,
	.widget--twitter.populated {
		opacity: 1 !important;
	}	

	.widget-tweet .tweet-content {
		margin: 0 0 1rem 0;

		font-weight: @font-weight;
	}	
}