/*
Theme Name: sashanoad.com
Theme URI: http://hatsumatsu.de
Author: HATSUMATSU, Martin Wecke
Version: 0.1
Tags:
*/

/*
This stylesheet was written in and compiled with LESS
See http://lesscss.org for further reference
*/

// VARIABLES 
@import 'css/variables';


// MIXINS
@import 'css/mixins';


// ANIMATIONS
@import 'css/animations';


// DOCUMENT
html, 
body {
	min-height: 100%;
	
	background: #fff;

	.transition;
	transition-property: background;

	.no-js & {
		background: @color--bg;
	}

	.js .colors--set & {

	}
}

html {
	font-family: @font--1;
	font-weight: @font-weight--bolder-1;
	font-size: 100%;
	line-height: @line-height;
	letter-spacing: @letter-spacing;
	
	color: @color--text;

	// enhanced typography
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'kern', 'ss01', 'ss02'; 
	text-size-adjust: 100%;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	overflow-x: hidden;

	&.show-select {
		overflow: hidden;
	}	
}

body {
	.show-select & {
		overflow: hidden;
	}		
}

@media @medium {
	html {
		font-size: 0.875em;
	}
}

body {
	.cf;
}	


// prevent font boosting on chrome for android
* {
	max-height: 999999px;
}	

// sync variables between CSS and JS
title {
	// media query: break point
	width: @smaller-em;
	// media query: string
	font-family: '@{smaller}';
	// transition duration
	transition-duration: @transition-duration;
}

.shell {
	margin: 0 6rem;

	// outline: 1px solid red;
}

@media @fixed {
	.shell {
		width: 72rem;
		margin-left: auto;
		margin-right: auto;

		// outline: 1px solid blue;
	}
}

@media @medium {
	.shell {
		// outline: 1px solid yellow;		
	}
}

@media @regular {
	.shell {
		width: auto;
		margin-left: 3rem;
		margin-right: 3rem;

		// outline: 1px solid green;		
	}
}

@media @small {
	.shell {
		margin-left: 1.5rem;
		margin-right: 1.5rem;

		// outline: 1px solid pink;		
	}
}

// PAGE TRANSITIONS
@import 'css/page-transitions';


// jquery.imagePlaceholder
@import 'css/jquery-imageplaceholder';

// GENERAL
@import 'css/general';
@import 'css/main';

@import 'css/angles';

// HEADER
@import 'css/head';

// navigation
@import 'css/nav--head';


// MAIN CONTENT
@import 'css/content';
@import 'css/opener';

@import 'css/inline-content';
@import 'css/gallery';

// home 
@import 'css/home';

// posts
@import 'css/posts';
@import 'css/posts--post';
@import 'css/posts--tweet';
@import 'css/posts--cases';

// single
@import 'css/single';
@import 'css/single--post';
@import 'css/single--cases';

// page
@import 'css/page';

// about
@import 'css/about';
@import 'css/about--image';
@import 'css/about--service';
@import 'css/about--clients';
@import 'css/about--testimonials';

// carousel
@import 'css/carousel';

// filelist
@import 'css/filelist';

// related posts
@import 'css/posts--related';
@import 'css/posts--related-post';
@import 'css/posts--related-cases';

// pagination 
@import 'css/pagination';

// filter 
@import 'css/filter';

// messages
@import 'css/messages';

// searchform
@import 'css/searchform';

// CONTACT
@import 'css/contact';

// FOOTER
@import 'css/footer';

// navigation
@import 'css/nav--footer';

// widgets
@import 'css/widgets';
@import 'css/widget--blog';
@import 'css/widget--cases';
@import 'css/widget--text';
@import 'css/widget--twitter';
@import 'css/widget--mailchimp';
@import 'css/widget--status';

// status
@import 'css/status';

// newsletter popup
@import 'css/newsletterpopup';

// WEBKIT SCROLLBARS 
// @import 'css/scrollbars';


@media @smaller {

}