/*
Theme Name: sashanoad.com
Theme URI: http://hatsumatsu.de
Author: HATSUMATSU, Martin Wecke
Version: 0.1
Tags:
*/
/*
This stylesheet was written in and compiled with LESS
See http://lesscss.org for further reference
*/
.type--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.hide-but-read {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.pseudo-box {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.transition {
  transition: all 400ms ease;
}
.transition--slower {
  transition: all 800ms ease;
}
.transition--quicker {
  transition: all 200ms ease;
}
.no-transition {
  transition: none !important;
}
.new-layer {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes zoomInCenter {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1.2);
            transform: translateY(-50%) scale(1.2);
  }
}
@keyframes zoomInCenter {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1.2);
            transform: translateY(-50%) scale(1.2);
  }
}
@-webkit-keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
}
@keyframes bouncing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
  }
}
@-webkit-keyframes trigger {
  0% {
    opacity: 0.9999;
  }
  109% {
    opacity: 1;
  }
}
@keyframes trigger {
  0% {
    opacity: 0.9999;
  }
  109% {
    opacity: 1;
  }
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
}
@-webkit-keyframes pulseSubtle {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes pulseSubtle {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
html,
body {
  min-height: 100%;
  background: #fff;
  transition: all 400ms ease;
  transition-property: background;
}
.no-js html,
.no-js body {
  background: #ffffff;
}
html {
  font-family: 'Averta Web', sans-serif;
  font-weight: 500;
  font-size: 100%;
  line-height: 1.3;
  letter-spacing: 0.025em;
  color: #111111;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'kern', 'ss01', 'ss02';
          font-feature-settings: 'liga', 'kern', 'ss01', 'ss02';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
html.show-select {
  overflow: hidden;
}
.show-select body {
  overflow: hidden;
}
@media only screen and ( max-width: 76em ) {
  html {
    font-size: 0.875em;
  }
}
body {
  zoom: 1;
}
body:before,
body:after {
  content: ' ';
  display: table;
}
body:after {
  clear: both;
}
* {
  max-height: 999999px;
}
title {
  width: 47.5em;
  font-family: 'only screen and ( max-width: 47.5em )';
  transition-duration: 400ms;
}
.shell {
  margin: 0 6rem;
}
@media only screen and ( min-width: 84em ) {
  .shell {
    width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and ( max-width: 60em ) {
  .shell {
    width: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .shell {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
.js .loading-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 400ms ease;
}
.js .loading-indicator::before,
.js .loading-indicator::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: -1.5rem 0 0 -1.5rem;
  border-radius: 50%;
  -webkit-animation: pulse 1000ms infinite ease-out alternate;
          animation: pulse 1000ms infinite ease-out alternate;
}
.js .loading-indicator::before {
  content: ' ';
  background: #cccccc;
}
.js .loading-indicator::after {
  content: ' ';
  border: 3px solid #cccccc;
  -webkit-animation-delay: -500ms;
          animation-delay: -500ms;
}
.js .widgets,
.js .main > *,
.js .footer {
  -webkit-animation: fadeIn 500ms 1 ease;
          animation: fadeIn 500ms 1 ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  transition: all 400ms ease;
  transition-duration: 500ms;
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.js.page-transitioning {
  background: #ffffff;
}
.js.page-transitioning body {
  background: #ffffff;
}
.js.page-transitioning .loading-indicator {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.js.page-transitioning .widgets,
.js.page-transitioning .main > *,
.js.page-transitioning .footer {
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.placeholder {
  position: relative;
}
.has-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}
::-moz-selection {
  color: #111111;
  background: #eaeaea;
}
::selection {
  color: #111111;
  background: #eaeaea;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1em 0;
  line-height: 1;
}
h1,
.h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}
@media only screen and ( max-width: 47.5em ) {
  h1,
  .h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}
@media only screen and ( max-width: 47.5em ) {
  h2 {
    font-size: 1.25rem;
  }
}
h4 {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 600;
}
.main {
  position: relative;
  z-index: 100;
  min-height: 100vh;
  margin: 0 0;
  padding: 11rem 0 2rem;
  background: #ffffff;
}
.main::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.main::before {
  top: 0;
  margin-top: -5rem;
  background-image: url('img/angle--1.svg');
}
.no-svg .main::before {
  background-image: url('img/angle--1.png');
}
.home .main {
  margin-top: calc(100vh + 5rem);
}
@media only screen and ( max-width: 47.5em ) {
  .main {
    margin-bottom: 0;
    padding-top: 8rem;
  }
  .home .main {
    margin-top: 0;
    padding-top: 5rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .main {
    padding-bottom: 1.5rem;
  }
}
.angle {
  position: absolute;
  left: 0;
  right: 0;
  height: 5rem;
  background: red;
  overflow: hidden;
}
.angle--top {
  top: 0;
  margin-top: -5rem;
}
.angle--bottom {
  bottom: 0;
  margin-bottom: -5rem;
}
.angle-inner {
  width: 100%;
  height: 100%;
  background: green;
}
.angle--top .angle-inner {
  margin-top: 2.5rem;
}
.head {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  box-sizing: border-box;
  width: 100%;
  height: 6rem;
  padding: 2.5rem 3rem 2rem;
  background: #ffffff;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  transition: all 400ms ease;
  transition-property: -webkit-transform, opacity, -webkit-filter, -webkit-transform, opacity, filter !important;
  transition-property: transform, opacity, filter !important;
}
.nav-sticky .head {
  position: fixed;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.nav-sticky.scroll-direction--down .head {
  -webkit-transform: translateY(-11rem);
      -ms-transform: translateY(-11rem);
          transform: translateY(-11rem);
}
.nav-sticky.show-head-primary .head,
.nav-sticky.scroll-direction--up .head {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.nav-sticky.show-head-primary .head,
.nav-sticky.scroll-direction--up .head {
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(17, 17, 17, 0.2));
          filter: drop-shadow(0 0 0.25rem rgba(17, 17, 17, 0.2));
}
.scrolled-to-top.nav-sticky.show-head-primary .head,
.scrolled-to-top.nav-sticky.scroll-direction--up .head {
  -webkit-filter: none;
          filter: none;
}
.show-select .head {
  z-index: 0;
}
.head::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  height: 5rem;
  margin: 0;
  margin-bottom: -5rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  opacity: 1;
  background-image: url('img/angle--2.svg');
}
.no-svg .head::after {
  background-image: url('img/angle--2.png');
}
.head::after {
  display: block;
}
.logo--head {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.logo--head > span {
  display: block;
}
.logo--head > .name {
  font-size: 1em;
}
.logo--head > .tagline {
  display: none;
  max-width: 16em;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  color: #cccccc;
}
.home .logo--head > .tagline {
  display: block;
}
@media only screen and ( max-width: 47.5em ) {
  .head {
    position: absolute !important;
    top: 0;
    height: 4.25rem;
    padding: 1.5rem 3rem 1.25rem;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  .head::after {
    display: none;
  }
  .home .head::after {
    display: block;
  }
  .logo--head > .tagline {
    display: none;
  }
  .home .logo--head > .tagline {
    display: none;
  }
}
@media only screen and ( max-width: 32em ) {
  .head {
    padding: 1.5rem 1.5rem 1rem;
  }
  .logo--head {
    font-weight: 600;
  }
}
.nav--head-primary {
  float: right;
}
.head-primary-skip {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.head-primary-toggle {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 6rem;
  height: 1rem;
  margin: 1.7rem 0 0 0;
  padding: 1rem 0;
  white-space: nowrap;
  text-indent: 300%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translate(-5rem, 0);
      -ms-transform: translate(-5rem, 0);
          transform: translate(-5rem, 0);
  transition: all 400ms ease;
}
.head-primary-toggle::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-nav-24--text.svg');
  transition: all 400ms ease;
  transition-property: -webkit-transform;
  transition-property: transform;
}
.no-svg .head-primary-toggle::before {
  background-image: url('img/icon-nav-24--text.png');
}
.nav-sticky .head-primary-toggle {
  -webkit-transform: translate(0, 11rem);
      -ms-transform: translate(0, 11rem);
          transform: translate(0, 11rem);
  opacity: 1;
}
.nav-sticky.show-head-primary .head-primary-toggle,
.nav-sticky.scrolled-to-top .head-primary-toggle,
.nav-sticky.scroll-direction--up .head-primary-toggle {
  -webkit-transform: translate(-5rem, 0);
      -ms-transform: translate(-5rem, 0);
          transform: translate(-5rem, 0);
  opacity: 0;
}
.scrolled-to-firstscreen .home .head-primary-toggle::before {
  background-image: url('img/icon-nav-24--bg.svg');
}
.no-svg .scrolled-to-firstscreen .home .head-primary-toggle::before {
  background-image: url('img/icon-nav-24--bg.png');
}
.head-primary-list {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
}
.head-primary-list > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 2rem;
}
.head-primary-list > li.hide-on-large-screens {
  display: none;
}
.head-primary-list > li a {
  position: relative;
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  transition: all 400ms ease;
}
.head-primary-list > li a::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 110%;
  bottom: 0;
  z-index: -1;
  display: block;
  height: 2px;
  margin: 0 0 -0.25em 0;
  background: #cccccc;
  transition: all 200ms ease;
}
.head-primary-list > li a:hover::after,
.head-primary-list > li a:focus::after {
  right: 0;
}
.head-primary-list > li.current-menu-item a::after,
.head-primary-list > li.current-menu-parent a::after,
.single-post .head-primary-list > li.news a::after,
.single-cases .head-primary-list > li.cases a::after {
  right: 0;
  background: #eaeaea;
  opacity: 1;
}
.head-primary-list ul {
  margin: 0 0 0 1rem;
  padding: 0;
  list-style-type: none;
}
@media only screen and ( max-width: 60em ) {
  .head-primary-toggle,
  .nav-sticky .head-primary-toggle {
    left: 50%;
    width: 3.5rem;
    margin-left: -1.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    -webkit-transform: translate(0, 11rem);
        -ms-transform: translate(0, 11rem);
            transform: translate(0, 11rem);
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
  }
  .nav-sticky.show-head-primary .head-primary-toggle,
  .nav-sticky.show-head-primary .nav-sticky .head-primary-toggle,
  .nav-sticky.scrolled-to-top .head-primary-toggle,
  .nav-sticky.scrolled-to-top .nav-sticky .head-primary-toggle,
  .nav-sticky.scroll-direction--up .head-primary-toggle,
  .nav-sticky.scroll-direction--up .nav-sticky .head-primary-toggle {
    margin-left: -1.75rem;
    -webkit-transform: translate(0, -3rem);
        -ms-transform: translate(0, -3rem);
            transform: translate(0, -3rem);
  }
}
@media only screen and ( max-width: 47.5em ) {
  .nav--head-primary {
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: 100%;
    z-index: 200;
    float: none;
    display: block;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
    transition: all 400ms ease;
  }
  .show-head-primary .nav--head-primary {
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  .head-primary-toggle {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    z-index: 13;
    display: block;
    width: auto;
    height: 1.5rem;
    margin: 0 0 -5rem 0;
    padding: 2rem 1.5rem;
    line-height: 1;
    white-space: nowrap;
    text-indent: 300%;
    overflow: hidden;
    background-color: transparent !important;
    border-radius: 0 !important;
    -webkit-filter: none !important;
            filter: none !important;
    box-shadow: none;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    transition: none;
  }
  .head-primary-toggle::before {
    content: ' ';
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    display: block;
    width: 7rem;
    height: 5rem;
    margin-top: 0;
    font-size: 2rem;
    line-height: 2.5;
    text-indent: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('img/icon-nav-24--text.svg');
  }
  .no-svg .head-primary-toggle::before {
    background-image: url('img/icon-nav-24--text.png');
  }
  .show-head-primary .head-primary-toggle::before {
    background-image: url('img/icon-close-24--text.svg');
  }
  .no-svg .show-head-primary .head-primary-toggle::before {
    background-image: url('img/icon-close-24--text.png');
  }
  .head-primary-list {
    margin: 0;
    padding: 1rem 0;
  }
  .show-head-primary .head-primary-list {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  }
  .head-primary-list li {
    display: block;
    margin: 0;
    padding: 0;
  }
  .head-primary-list > li.hide-on-large-screens {
    display: block;
  }
  .head-primary-list li a {
    display: block;
    margin: 0;
    padding: 1.5rem 3rem;
    line-height: 1;
  }
  .head-primary-list li a::after {
    display: none;
  }
  .head-primary-list li a:hover,
  .head-primary-list li a:focus,
  .head-primary-list li.current-menu-item a {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .head-primary-list li ul {
    margin: 0;
    padding: 0;
  }
  .head-primary-list li ul li a {
    padding-left: 2rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .head-primary-toggle::before {
    width: 4rem;
  }
  .head-primary-list li a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
  }
}
.content {
  position: relative;
  z-index: 10;
  zoom: 1;
}
.content:before,
.content:after {
  content: ' ';
  display: table;
}
.content:after {
  clear: both;
}
.opener {
  margin: 0;
  padding: 0 0 7rem;
}
.opener > .shell {
  position: relative;
}
@media only screen and ( max-width: 47.5em ) {
  .opener {
    margin: 0;
    padding: 0 0 3rem;
  }
}
.inline-content.single-content {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}
.inline-content a {
  border-bottom: 2px solid #cccccc;
}
.inline-content a:hover,
.inline-content a:active {
  background: #eaeaea;
}
.inline-content b,
.inline-content strong {
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.inline-content h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 15%;
  font-size: 1.5em;
  font-weight: 400;
  opacity: 0.4;
}
.inline-content h3 {
  width: 70%;
  margin: 2em 0 1em 30%;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3;
}
.inline-content p {
  margin: 0 0 1em 0;
}
.single-content.inline-content p {
  width: 70%;
  margin: 0 0 1em 30%;
  font-family: 'Merriweather', Georgia, Times, serif;
}
.inline-content p:last-child {
  margin-bottom: 0;
}
.inline-content ul {
  display: block;
  padding: 0;
  list-style-type: none;
}
.single-content.inline-content ul {
  width: 70%;
  margin: 2em 0 2em 30%;
  font-family: 'Merriweather', Georgia, Times, serif;
}
.inline-content ul > li {
  position: relative;
  display: block;
}
.inline-content ul > li::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.4em 0 0 -1.4em;
  background: #111111;
  border-radius: 50%;
}
.inline-content > ol,
.inline-content p > ol {
  display: block;
  padding: 0;
  list-style-type: none;
  counter-reset: ol;
}
.single-content.inline-content > ol,
.single-content.inline-content p > ol {
  width: 70%;
  margin: 2em 0 2em 30%;
  font-family: 'Merriweather', Georgia, Times, serif;
}
.inline-content > ol > li,
.inline-content p > ol > li {
  position: relative;
  display: block;
  margin-bottom: 1em;
  counter-increment: ol;
}
.inline-content > ol > li::before,
.inline-content p > ol > li::before {
  content: counter(ol);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1em;
  margin: 0 0 0 -1.4em;
  font-weight: 500;
  color: #cccccc;
}
.single-content.inline-content .bigger {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Averta Web', sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
  opacity: 0.4;
}
.single-content.inline-content .bigger:first-child {
  margin-top: 0;
}
.inline-content blockquote {
  position: relative;
  width: 70%;
  margin: 5rem 0 5rem 15%;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.25;
  opacity: 0.4;
}
.inline-content blockquote::before {
  content: '“';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin: -0.125em 0 0 -0.35em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
}
.inline-content blockquote > p {
  width: auto !important;
  margin-left: 0 !important;
}
.inline-content blockquote > p:last-child::after {
  content: '”';
  position: absolute;
  display: inline;
  margin: -0.125em 0 0 0.1em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
}
.single-content.inline-content blockquote > p {
  font-family: 'Averta Web', sans-serif;
}
.inline-content > p > img {
  position: relative;
  clear: both;
  display: block;
  width: 100%;
  height: auto;
  margin: 3rem 0 3rem -42.85714286%;
}
.inline-content > figure {
  float: left;
  clear: both;
  display: block;
  width: 100%;
  height: auto;
  margin: 1.5rem 0 3rem;
}
.inline-content > figure > img {
  float: left;
  display: block;
  width: 70%;
  height: auto;
}
.inline-content figcaption {
  float: left;
  display: block;
  width: 25%;
  max-width: 32em;
  margin: 0 0 0 1rem;
  font-size: 0.875rem;
}
.inline-content > p > img.alignright {
  margin-left: 0;
}
.inline-content > figure.alignright > img {
  margin-left: 30%;
}
.inline-content > figure.alignright > figcaption {
  box-sizing: border-box;
  width: 30%;
  margin-left: -100%;
  padding-right: 1rem;
  text-align: right;
}
.inline-content > p > img.aligncenter {
  width: 142.85714286%;
  margin-right: -42.85714286%;
}
.inline-content > figure.aligncenter > img {
  width: 100%;
  margin-left: 0;
}
.inline-content > figure.aligncenter > figcaption {
  width: 70%;
  margin-top: 1rem;
  margin-left: 30%;
  margin-bottom: 0;
}
.inline-content > p > img.orientation--portrait {
  width: 71.42857143%;
}
.inline-content > p > img.orientation--portrait.alignright {
  margin-left: 28.57142857%;
}
.inline-content > p > img.orientation--portrait.aligncenter {
  margin-left: 0;
}
.inline-content > p > img.orientation--portrait.alignleft {
  float: left;
  clear: both;
  width: calc( ( 30% / 0.7 ) - 2rem );
  margin-top: 0;
  margin-left: -42.85714286%;
}
.inline-content > figure.orientation--portrait > img {
  width: 50%;
}
.inline-content > figure.orientation--portrait.alignright > img {
  margin-left: 50%;
}
.inline-content > figure.orientation--portrait.alignright > figcaption {
  margin-left: -80%;
}
.inline-content > figure.orientation--portrait.aligncenter > img {
  float: none;
  margin-left: 30%;
}
.inline-content > figure.orientation--portrait.aligncenter > figcaption {
  text-align: left;
}
.inline-content > figure.orientation--portrait.alignleft {
  float: left;
  clear: both;
  width: calc( 30% - 2rem );
  margin-top: 0;
  margin-left: 0;
}
.inline-content > figure.orientation--portrait.alignleft > img {
  float: none;
  width: 100%;
  margin-left: 0;
}
.inline-content > figure.orientation--portrait.alignleft > figcaption {
  width: auto;
  margin-top: 1rem;
  margin-left: 0;
}
.inline-content .embed-video {
  position: relative;
  height: 0;
  margin: 3rem 0;
  padding: 56.25% 0 0 0;
}
.inline-content .embed-video > iframe {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and ( max-width: 47.5em ) {
  .inline-content.single-content {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .inline-content h2 {
    margin-left: 0;
  }
  .inline-content h3 {
    margin-left: 0;
  }
  .single-content.inline-content p {
    width: auto;
    margin-left: 0;
  }
  .single-content.inline-content ul {
    width: auto;
    margin-left: 1.5em;
  }
  .inline-content > ol,
  .inline-content p > ol {
    margin-left: 0;
  }
  .single-content.inline-content > ol,
  .single-content.inline-content p > ol {
    width: auto;
    margin-left: 0;
  }
  .inline-content > ol > li,
  .inline-content p > ol > li {
    padding-left: 2em;
  }
  .inline-content > ol > li::before,
  .inline-content p > ol > li::before {
    margin-left: 0;
  }
  .inline-content blockquote {
    width: auto;
    margin-left: 0;
  }
  .inline-content > p > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-content > figure {
    float: none;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-content > figure > img {
    float: none;
    width: 100%;
  }
  .inline-content figcaption {
    float: none;
    display: block;
    width: auto;
    margin-top: 1rem;
    margin-left: 0;
    text-align: center;
  }
  .inline-content > figure.alignright > img {
    margin-left: 0;
  }
  .inline-content > figure.alignright > figcaption {
    width: auto;
    margin-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .inline-content > p > img.aligncenter {
    width: 100%;
    margin-right: 0;
  }
  .inline-content > figure.aligncenter > figcaption {
    width: auto;
    margin-left: 0;
  }
  .inline-content > p > img.orientation--portrait,
  .inline-content > p > img.orientation--portrait.alignleft,
  .inline-content > p > img.orientation--portrait.alignright,
  .inline-content > p > img.orientation--portrait.aligncenter {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-content > figure.orientation--portrait,
  .inline-content > figure.orientation--portrait.alignleft,
  .inline-content > figure.orientation--portrait.aligncenter,
  .inline-content > figure.orientation--portrait.alignright {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-content > figure.orientation--portrait > img,
  .inline-content > figure.orientation--portrait.alignleft > img,
  .inline-content > figure.orientation--portrait.aligncenter > img,
  .inline-content > figure.orientation--portrait.alignright > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .inline-content > figure.orientation--portrait > figcaption,
  .inline-content > figure.orientation--portrait.alignleft > figcaption,
  .inline-content > figure.orientation--portrait.aligncenter > figcaption,
  .inline-content > figure.orientation--portrait.alignright > figcaption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media only screen and ( max-width: 32em ) {
  .inline-content.single-content {
    font-size: 1rem;
  }
  .inline-content blockquote::before {
    display: none;
  }
  .inline-content > figure,
  .inline-content p > img,
  .inline-content .embed-video {
    width: 100vw !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
  }
  .inline-content > figure > figcaption,
  .inline-content p > img > figcaption,
  .inline-content .embed-video > figcaption {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .inline-content .embed-video {
    padding-top: 66%;
  }
}
.gallery {
  position: relative;
  margin: 3rem 0 5rem;
  padding-bottom: 60%;
  background: #eaeaea;
  opacity: 0;
  transition: all 400ms ease;
  transition-property: opacity;
}
.gallery::before,
.gallery::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  opacity: 1;
  pointer-events: none;
}
.gallery::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .gallery::before {
  background-image: url('img/angle--1.png');
}
.gallery::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .gallery::after {
  background-image: url('img/angle--2.png');
}
.gallery.flickity-enabled {
  opacity: 1;
}
.gallery-item {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-image {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}
.flickity-page-dots {
  bottom: 0;
  margin-bottom: -1.25rem;
}
.flickity-page-dots .dot {
  width: 0.6875rem;
  height: 0.6875rem;
  background: #eaeaea;
  opacity: 1;
}
.flickity-page-dots .dot:hover,
.flickity-page-dots .dot.is-selected {
  background: #cccccc;
}
.flickity-prev-next-button {
  width: 3rem;
  height: 3rem;
  opacity: 1;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 400ms ease;
}
.gallery:hover .flickity-prev-next-button {
  opacity: 1;
}
.flickity-prev-next-button.next {
  right: 0;
  margin-right: 1.5rem;
  background-image: url('img/icon-arrow-right-24--text.svg');
}
.no-svg .flickity-prev-next-button.next {
  background-image: url('img/icon-arrow-right-24--text.png');
}
.flickity-prev-next-button.previous {
  left: 0;
  margin-left: 1.5rem;
  background-image: url('img/icon-arrow-left-24--text.svg');
}
.no-svg .flickity-prev-next-button.previous {
  background-image: url('img/icon-arrow-left-24--text.png');
}
.flickity-prev-next-button > svg {
  display: none;
}
.flickity-prev-next-button:hover,
.flickity-prev-next-button:focus {
  background-color: #cccccc;
  background-position: center center;
  background-repeat: no-repeat;
}
@media only screen and ( max-width: 47.5em ) {
  .gallery {
    padding-bottom: 75%;
  }
}
@media only screen and ( max-width: 32em ) {
  .gallery {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .gallery::before,
  .gallery::after {
    display: none;
  }
  .flickity-page-dots {
    bottom: 0;
    margin-bottom: -2.25rem;
  }
}
.home-content {
  padding: 5rem 0 11rem;
}
.home-content h2 {
  margin: 0 0 12rem;
  font-size: 4rem;
  font-weight: 400;
}
.home-content h2:last-child {
  margin-bottom: 0;
}
.home-content h2 em {
  position: relative;
  font-style: normal;
  white-space: nowrap;
}
.home-content h2 em::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 110%;
  bottom: 0;
  z-index: 0;
  display: block;
  height: 4px;
  margin: 0px 0 0 -0.05em;
  background: #cccccc;
  mix-blend-mode: darken;
  transition: all 400ms ease;
}
.home-content h2:hover em::after,
.touchevents .home-content h2:hover em::after {
  right: 0;
  margion-left: -0.1em;
  margion-right: -0.1em;
}
@media only screen and ( max-width: 47.5em ) {
  .home-content {
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
  .home-content h2 {
    margin-bottom: 8rem;
    font-size: 3rem;
  }
  .home-content h2 > br {
    display: none;
  }
}
@media only screen and ( max-width: 32em ) {
  .home-content {
    padding-top: 0;
    padding-bottom: 5rem;
  }
  .home-content h2 {
    margin-bottom: 5rem;
    font-size: 1.75rem;
    font-weight: 500;
  }
  .home-content h2 em {
    white-space: normal;
  }
  .home-content h2 em::after {
    display: none;
  }
}
.section--home-clients {
  position: relative;
  margin: 0 0 0 0;
  padding: 10rem 0 6rem;
  background: #eaeaea;
  transition: all 400ms ease;
  transition-property: background;
}
.section--home-clients::before,
.section--home-clients::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.section--home-clients::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .section--home-clients::before {
  background-image: url('img/angle--1.png');
}
.section--home-clients::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .section--home-clients::after {
  background-image: url('img/angle--2.png');
}
.home-clients {
  zoom: 1;
}
.home-clients:before,
.home-clients:after {
  content: ' ';
  display: table;
}
.home-clients:after {
  clear: both;
}
.clients--home {
  float: left;
  width: 100%;
  text-align: center;
}
.clients--home > h2 {
  margin: 0 auto 4rem;
}
.client--home {
  display: inline-block;
  height: 2rem;
  width: 19.9%;
  min-width: 2em;
  margin: 0 2.5% 4rem;
}
.client--home > .title {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.client--home > img {
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  opacity: 0.3;
  transition: all 400ms ease;
}
@media only screen and ( max-width: 47.5em ) {
  .section--home-clients {
    margin-bottom: 0;
  }
  .client--home {
    width: 44%;
    margin-bottom: 2rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .clients--home > h4 {
    font-size: 0.875rem;
  }
}
.posts {
  position: relative;
  float: left;
  width: 100%;
  margin: 2rem 0 0;
  padding-bottom: 12rem;
  background: #eaeaea;
  transition-property: background;
}
.posts::before,
.posts::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.posts::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .posts::before {
  background-image: url('img/angle--1.png');
}
.posts::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .posts::after {
  background-image: url('img/angle--2.png');
}
.posts .grid {
  margin-left: -2%;
  margin-right: -2%;
  transition: all 400ms ease;
  transition-property: height;
}
.post {
  position: relative;
  z-index: 50;
  box-sizing: border-box;
  float: left;
  width: 45.9%;
  margin: 2%;
  padding: 1.5rem;
  background: #ffffff;
  transition: all 200ms ease;
  transition-property: opacity, -webkit-transform, box-shadow;
  transition-property: opacity, transform, box-shadow;
}
.post::before,
.post::after {
  content: ' ';
  position: absolute;
  display: block;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 200ms ease;
}
.post::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  margin: 0 0 0 0;
}
.post::after {
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0 0 0 0;
}
.no-touchevents .post:hover {
  -webkit-transform: translate(-0.5rem, -0.5rem) !important;
      -ms-transform: translate(-0.5rem, -0.5rem) !important;
          transform: translate(-0.5rem, -0.5rem) !important;
}
.no-touchevents .post:hover::before {
  height: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.no-touchevents .post:hover::after {
  width: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.post.loading {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.post:nth-child( 1 ) {
  margin-top: -2rem;
}
.post:nth-child( 2 ) {
  margin-top: 8rem;
}
.post-image {
  position: relative;
  display: block;
  margin: -1.5rem -1.5rem 1.5rem;
  overflow: hidden;
  background: #eaeaea;
}
.post-image::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: block;
  height: 2rem;
  margin: 0 -1px 0 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url('img/angle--1.svg');
  border-bottom: 1px solid #ffffff;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.no-svg .post-image::before {
  background-image: url('img/angle--1.png');
}
.post-image > img,
.post-image > .placeholder {
  left: 0 !important;
  top: 0 !important;
  display: block;
  width: 100%;
  height: auto;
  transition: all 400ms ease;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-duration: 400ms, 10s;
}
.js .post-image > img,
.js .post-image > .placeholder {
  opacity: 0;
}
.js .post-image.loaded > img {
  opacity: 1;
}
.post:hover .post-image > img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.post h2 {
  clear: both;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}
.post h2 > a {
  display: block;
}
.post-time {
  float: right;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.post-terms {
  float: left;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
@media only screen and ( max-width: 47.5em ) {
  .posts {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .posts .grid {
    margin-left: 0;
    margin-right: 0;
  }
  .post {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .post:nth-child( 2 ) {
    margin-top: 0;
  }
  .post-image::before {
    height: 4.5rem;
  }
  .post h2 {
    font-size: 1.5rem;
  }
  .post-time {
    font-size: 0.875rem;
  }
  .post-terms {
    font-size: 0.875rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .post {
    padding: 1em;
  }
  .post:nth-child( 2 ) {
    margin-top: 0;
  }
  .post-image {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.posts--post .sizer {
  height: 1em;
  background: red;
  visibility: hidden;
}
.posts--post .sizer-item {
  width: 44.9%;
}
.posts--post .sizer-gutter {
  width: 5%;
}
.post--tweet h2 {
  margin: 0 0 -0.25rem;
  font-size: 1.5rem;
  line-height: 1.3;
}
.post--tweet h2 > a {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-time--tweet {
  float: right;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.post-source--tweet {
  float: left;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.post-source-username--tweet {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0.025em;
}
.posts--cases .sizer {
  height: 1em;
  background: red;
  visibility: hidden;
}
.posts--cases .sizer-item {
  width: 44.9%;
}
.posts--cases .sizer-gutter {
  width: 5%;
}
.post--cases h2 span {
  display: block;
}
.post--cases h2 .client {
  opacity: 0.4;
}
.post-sector {
  float: right;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.post-discipline {
  float: left;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
@media only screen and ( max-width: 47.5em ) {
  .post-sector {
    font-size: 0.875rem;
  }
  .post-discipline {
    font-size: 0.875rem;
  }
}
.single .content {
  margin: 0 0 3rem;
}
.single-content {
  position: relative;
  clear: both;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.post-image--single {
  position: relative;
  max-height: 36rem;
  max-height: calc(100vh - 20rem);
  min-height: 36vw;
  margin: 0 0 3rem;
  background: #eaeaea;
}
.post-image--single::before {
  height: 4rem;
}
.post-image--single > img {
  position: relative;
  -webkit-animation: zoomIn 16s 1 ease;
          animation: zoomIn 16s 1 ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.objectfit .post-image--single > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.js .post-image--single > img {
  opacity: 0;
}
.js .loaded.post-image--single > img {
  opacity: 1;
}
.js.no-objectfit .loaded.post-image--single > img {
  opacity: 0;
}
.js.no-objectfit .loaded.centered.post-image--single > img {
  opacity: 1;
}
.single h1 {
  float: left;
  width: 70%;
  margin: 0 10% 3rem 0;
}
.single h1 > span {
  display: block;
}
.single .post-terms > a:hover,
.single .post-terms > a:active {
  color: #cccccc;
}
@media only screen and ( max-width: 60em ) {
  .single .content {
    margin-top: 0.5rem;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .single .content {
    margin-top: 0;
    margin-bottom: 5rem;
  }
  .post-image--single {
    max-height: 100%;
    min-height: 0;
    margin-top: -3.75rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .post-image--single::before {
    height: 5rem;
  }
  .post-image--single > img {
    position: relative;
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-animation: none;
            animation: none;
  }
  .js .post-image--single > img {
    opacity: 0;
  }
  .js .loaded.post-image--single > img {
    opacity: 1;
  }
  .single h1 {
    float: none;
    width: auto;
    margin-right: 0;
  }
  .single-content {
    padding-top: 3rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .single h1 {
    font-size: 2.5rem;
  }
  .single .post-image > img {
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
  }
}
.single-post h1 + * {
  margin-top: 1em;
}
.single-post .post-terms {
  width: 20%;
  margin-bottom: 1em;
  font-size: 1rem;
}
.single-post .post-time {
  width: 20%;
  margin-bottom: 1em;
  font-size: 1rem;
}
@media only screen and ( max-width: 47.5em ) {
  .single-post h1 + * {
    margin-top: 0;
  }
  .single-post .post-terms {
    float: none;
    width: auto;
  }
  .single-post .post-time {
    width: auto;
    float: none;
  }
}
.single-cases h1 > .client {
  opacity: 0.25;
}
.single-cases h1 + * {
  margin-top: 1em;
}
.single-cases .post-discipline {
  float: right;
  width: 20%;
  margin-bottom: 1em;
  font-size: 1rem;
  text-align: left;
}
.single-cases .post-sector {
  float: right;
  width: 20%;
  margin-bottom: 1em;
  font-size: 1rem;
  text-align: left;
}
.single-content--cases {
  overflow: hidden;
}
.single-content--cases h3 {
  position: relative;
  left: 0;
  top: auto;
  z-index: 20;
  clear: both;
  width: 28%;
  margin-left: 0;
  margin-top: 3.4rem;
  padding: 0.75em 0;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 1rem;
  text-align: center;
  color: #111111 !important;
  background: #ffffff;
}
.single-content--cases h3::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
  display: block;
  width: 2px;
  height: 999rem;
  margin: 2.5rem 0 0 -1px;
  background: #eaeaea;
}
.single-content--cases h3:first-of-type {
  margin-top: 0;
}
.single-content--cases h3:last-of-type::after {
  background: #ffffff;
}
.single-content--cases.inline-content h3 + p {
  margin-top: -3.4rem;
}
.single-content--cases.inline-content img {
  margin-left: 0;
}
.single-content--cases.inline-content figure {
  width: 70%;
  margin-left: 30%;
}
.single-content--cases.inline-content figure > img {
  float: none;
  width: 100%;
}
.single-content--cases.inline-content figure > figcaption {
  float: none;
  width: auto;
  margin: 1rem auto 0;
  text-align: center;
}
.single-content--cases.inline-content .embed-video {
  width: 70%;
  margin-left: 30%;
  padding-top: 39.375%;
}
@media only screen and ( max-width: 47.5em ) {
  .single-cases h1 + * {
    margin-top: 0;
  }
  .single-cases .post-sector {
    float: none;
    width: auto;
  }
  .single-cases .post-discipline {
    width: auto;
    float: none;
  }
  .single-content--cases.inline-content h3 {
    position: relative;
    width: auto;
    margin: 4em 0 1em !important;
    padding: 0;
    text-align: left;
  }
  .single-content--cases.inline-content h3::after {
    display: none;
  }
  .single-content--cases.inline-content h3:first-child {
    margin-top: 0 !important;
  }
  .single-content--cases.inline-content h3 + p {
    margin-top: 0;
  }
  .single-content--cases.inline-content figure {
    width: auto;
    margin-left: 0;
  }
  .single-content--cases.inline-content .embed-video {
    margin-left: 0;
    width: 100%;
    padding-top: 56.25%;
  }
}
.page h1 {
  margin: 8rem 0;
}
.about--page {
  margin: 5rem 0;
  zoom: 1;
}
.about--page:before,
.about--page:after {
  content: ' ';
  display: table;
}
.about--page:after {
  clear: both;
}
.about--page > .shell {
  position: relative;
}
.page-content--about {
  margin: 0 0;
  padding-right: 28rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.page-content--about > p {
  max-width: 48em;
}
.page-sidebar--about {
  position: absolute;
  right: 0;
  top: 0;
  width: 24rem;
  margin: 0 0 0 4rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
}
@media only screen and ( max-width: 76em ) {
  .page-content--about {
    padding-right: 0;
  }
  .page-sidebar--about {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    margin-top: 3rem;
    margin-left: 0;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .about--page {
    margin-top: 0;
  }
}
.about--image {
  position: relative;
  margin: 5rem 0 5rem;
  padding: 0 0;
  background: #eaeaea;
}
.about--image::before,
.about--image::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  opacity: 1;
  pointer-events: none;
}
.about--image::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .about--image::before {
  background-image: url('img/angle--1.png');
}
.about--image::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .about--image::after {
  background-image: url('img/angle--2.png');
}
.about--image .post-image::after {
  display: none;
}
@media only screen and ( max-width: 47.5em ) {
  .about--image .post-image > img {
    width: 130%;
    margin-left: -15%;
  }
}
.about--service {
  position: relative;
  margin: 16rem 0 5rem;
  padding: 1px 0 8rem;
  background: #cccccc;
  transition: all 400ms ease;
  transition-property: background;
}
.about--service::before,
.about--service::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.about--service::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .about--service::before {
  background-image: url('img/angle--1.png');
}
.about--service::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .about--service::after {
  background-image: url('img/angle--2.png');
}
.about--service .heading--approach {
  position: relative;
  z-index: 100;
  float: left;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
  opacity: 0.5;
}
.service-blocks {
  position: relative;
  z-index: 50;
  margin: -9rem 0 5rem;
}
.service-blocks .grid {
  margin-left: -1.5%;
  margin-right: -1.5%;
  zoom: 1;
}
.service-blocks .grid:before,
.service-blocks .grid:after {
  content: ' ';
  display: table;
}
.service-blocks .grid:after {
  clear: both;
}
.service-block {
  position: relative;
  float: left;
  width: 21.9%;
  margin: 0 1.5%;
  padding: 12rem 0 0 0;
  text-align: center;
}
.service-block::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: all 400ms ease;
}
.no-touchevents .service-block:hover::before {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.service-block.service-block--words::before {
  background-image: url('img/icon-word-160--text.svg');
}
.no-svg .service-block.service-block--words::before {
  background-image: url('img/icon-word-160--text.png');
}
.service-block.service-block--research::before {
  background-image: url('img/icon-research-160--text.svg');
}
.no-svg .service-block.service-block--research::before {
  background-image: url('img/icon-research-160--text.png');
}
.service-block.service-block--concept::before {
  background-image: url('img/icon-concept-160--text.svg');
}
.no-svg .service-block.service-block--concept::before {
  background-image: url('img/icon-concept-160--text.png');
}
.service-block.service-block--meme::before {
  background-image: url('img/icon-meme-160--text.svg');
}
.no-svg .service-block.service-block--meme::before {
  background-image: url('img/icon-meme-160--text.png');
}
.service-block.service-block--programming::before {
  background-image: url('img/icon-programming-160--text.svg');
}
.no-svg .service-block.service-block--programming::before {
  background-image: url('img/icon-programming-160--text.png');
}
.service-block-title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 1em;
  font-weight: 500;
}
.service-block-text {
  font-weight: 400;
}
@media only screen and ( max-width: 60em ) {
  .service-block {
    width: 46.9%;
    margin-bottom: 2rem;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .about--service {
    padding-top: 8rem;
  }
  .service-blocks .grid {
    margin-left: 0;
    margin-right: 0;
  }
  .service-block {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and ( max-width: 32em ) {
  .about--service {
    margin-top: 10rem;
  }
  .about--service .heading--approach {
    margin-top: -4rem;
  }
  .service-block {
    padding-top: 10rem;
  }
  .service-block::before {
    width: 8rem;
    height: 8rem;
    background-size: 100% auto;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
}
.service-list {
  margin-top: 5rem;
  margin-bottom: 0;
  margin-left: -1.5%;
  margin-right: -1.5%;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
.service-list:before,
.service-list:after {
  content: ' ';
  display: table;
}
.service-list:after {
  clear: both;
}
.service-list h2 {
  float: left;
  width: 100%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2.5rem;
  text-align: center;
  opacity: 0.5;
}
.service-list-item {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 30.2333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2rem;
  padding-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-size: 1em;
  font-weight: 500;
}
.service-list-item::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 0 0 0;
  background: #ffffff;
  border-radius: 50%;
}
@media only screen and ( max-width: 47.5em ) {
  .service-list h2 {
    float: none;
  }
  .service-list-item {
    width: 46.9%;
    min-height: 2.6em;
    text-align: left !important;
  }
}
@media only screen and ( max-width: 32em ) {
  .service-list-item {
    float: none;
    width: 100%;
    min-height: 0;
  }
}
.about--clients {
  margin: 5rem 0;
  padding: 3rem 0;
}
.clients--about {
  padding: 0;
  list-style-type: none;
  text-align: center;
  zoom: 1;
}
.clients--about:before,
.clients--about:after {
  content: ' ';
  display: table;
}
.clients--about:after {
  clear: both;
}
.clients--about h2 {
  margin-bottom: 2rem;
  opacity: 0.5;
}
.client--about {
  display: inline-block;
  margin: 0 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.client--about > a {
  color: #111111;
}
.client--about > a:hover,
.client--about > a:focus {
  color: #cccccc;
}
@media only screen and ( max-width: 47.5em ) {
  .clients--about {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and ( max-width: 32em ) {
  .about--clients {
    padding-top: 0;
    padding-bottom: 0;
  }
  .client--about {
    display: block;
  }
}
.about--testimonials {
  position: relative;
  margin: 5rem 0 0;
  padding: 8rem 0;
  background: #eaeaea;
  transition: all 400ms ease;
  transition-property: background;
}
.about--testimonials::before,
.about--testimonials::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.about--testimonials::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .about--testimonials::before {
  background-image: url('img/angle--1.png');
}
.about--testimonials::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .about--testimonials::after {
  background-image: url('img/angle--2.png');
}
.about--testimonials .shell {
  position: relative;
  z-index: 100;
}
.testimonial--about {
  position: relative;
  margin-left: 15rem;
}
.testimonial-text--about {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  opacity: 0.4;
}
.testimonial-author--about {
  margin: 1rem 0 0 0;
}
@media only screen and ( max-width: 47.5em ) {
  .about--testimonials .shell {
    position: relative;
    z-index: 100;
    margin-top: -10rem;
    padding-top: 12rem;
  }
  .about--testimonials .shell::before {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 0;
    width: 10rem;
    height: 10rem;
    margin: 0 0 0 -5rem;
    background: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('img/icon-quote-160--text.svg');
    border-radius: 50%;
  }
  .no-svg .about--testimonials .shell::before {
    background-image: url('img/icon-quote-160--text.png');
  }
  .testimonial--about {
    margin-left: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
  .testimonial--about:last-child {
    margin-bottom: 0;
  }
  .testimonial-text--about {
    font-size: 1.125rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .about--testimonials .shell {
    padding-top: 10rem;
  }
  .about--testimonials .shell::before {
    width: 8rem;
    height: 8rem;
    margin-left: -4rem;
    background-size: 100% auto;
  }
}
.no-js [data-carousel='wrapper'] {
  opacity: 0;
}
.no-js [data-carousel='wrapper'].initiated {
  opacity: 1;
}
.initiated[data-carousel='wrapper'] {
  position: relative;
  transition: all 400ms ease;
}
.initiated [data-carousel='item'] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 400ms ease;
}
.initiated [data-carousel='item'].current {
  opacity: 1;
}
.initiated [data-carousel='pagination'] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 10rem;
  margin-top: -2rem;
}
.initiated [data-carousel='pagination'] > a {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 1rem auto;
  text-align: center;
  overflow: hidden;
  text-indent: 300%;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 50%;
  transition: all 400ms ease;
  transition-property: width, height, margin, background;
  transition-duration: 400ms, 400ms, 400ms, 100ms;
}
.initiated [data-carousel='pagination'] > a::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-image: url('img/icon-quote-160--text.svg');
  opacity: 0;
  transition: all 400ms ease;
}
.no-svg .initiated [data-carousel='pagination'] > a::before {
  background-image: url('img/icon-quote-160--text.png');
}
.initiated [data-carousel='pagination'] > a:hover,
.initiated [data-carousel='pagination'] > a:focus {
  background: #cccccc;
}
.initiated [data-carousel='pagination'] > a.current {
  width: 10rem;
  height: 10rem;
  cursor: default;
}
.initiated [data-carousel='pagination'] > a.current::before {
  opacity: 1;
}
.initiated [data-carousel='pagination'] > a.current:hover,
.initiated [data-carousel='pagination'] > a.current:focus {
  background: #ffffff;
}
@media only screen and ( max-width: 47.5em ) {
  .no-js [data-carousel='wrapper'] {
    opacity: 1;
  }
}
.filelist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.posts--related {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 0;
  padding: 8rem 0;
}
.posts--related > .shell > h3 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  opacity: 0.5;
}
.posts--related .grid {
  margin-left: -1.5%;
  margin-right: -1.5%;
}
.post--related {
  width: 29.9%;
  margin: 0 1.5%;
  padding: 1rem;
}
.post--related:nth-child( 1 ) {
  margin-top: 0;
}
.post--related:nth-child( 2 ) {
  margin-top: 0;
}
.post--related:last-of-type {
  margin-bottom: 0;
}
.post-image--related,
.single .post-image--related {
  position: relative;
  display: block;
  min-height: 0;
  height: 0;
  margin: -1rem -1rem 1.5rem;
  padding: 66.6666% 0 0 0;
}
.post-image--related > img,
.single .post-image--related > img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: none;
          animation: none;
}
.objectfit .post-image--related > img,
.objectfit .single .post-image--related > img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.post-image--related::before,
.single .post-image--related::before {
  height: 1.5rem;
}
.post--related h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.post--related h2 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and ( max-width: 60em ) {
  .post--related {
    width: 46.9%;
  }
  .post--related:nth-child( 3 ) {
    display: none;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .posts--related > .shell > h3 {
    font-size: 1.25rem;
  }
  .post--related {
    width: auto;
    margin-bottom: 2rem;
  }
  .post--related:nth-child( 3 ) {
    display: block;
  }
  .post-image--related::before,
  .single .post-image--related::before {
    height: 2rem;
  }
}
.post--related-post > h2 a {
  max-height: 3.75em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post--related-cases > h2 span {
  display: block;
}
.pagination {
  position: relative;
  z-index: 20;
  text-align: center;
  transition: all 400ms ease;
}
.layouted .pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 -6rem 0;
}
.js .pagination {
  opacity: 0;
}
.js .layouted .pagination {
  opacity: 1;
}
.pagination .page-numbers {
  display: none;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  line-height: 1;
  text-align: center;
}
.pagination .next {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-plus-24--text.svg');
  border-radius: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 300%;
  transition: all 400ms ease;
}
.no-svg .pagination .next {
  background-image: url('img/icon-plus-24--text.png');
}
.pagination .next:hover,
.pagination .next:focus {
  background-size: 21.81818182px 21.81818182px;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.loading-posts .pagination .next {
  -webkit-animation: pulseSubtle 1000ms infinite ease-out;
          animation: pulseSubtle 1000ms infinite ease-out;
}
.pagination.disabled .next {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
@media only screen and ( max-width: 47.5em ) {
  .pagination {
    margin-top: 3rem;
    margin-bottom: -6rem;
  }
  .js .pagination {
    opacity: 1;
  }
  .pagination .page-numbers {
    width: 3rem;
    height: 1.2rem;
    margin: 0 0.5rem;
    padding: 1rem 0 0.8rem;
    vertical-align: top;
    border-radius: 50%;
  }
  .pagination .page-numbers:first-child {
    margin-left: 3.5rem;
  }
  .pagination .prev,
  .pagination .next {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 300%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pagination .prev:hover,
  .pagination .next:hover,
  .pagination .prev:focus,
  .pagination .next:focus {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    background-size: auto auto;
  }
  .pagination .prev {
    margin-left: 0 !important;
    background-image: url('img/icon-arrow-left-16--text.svg');
  }
  .no-svg .pagination .prev {
    background-image: url('img/icon-arrow-left-16--text.png');
  }
  .pagination .next {
    background-image: url('img/icon-arrow-right-16--text.svg');
  }
  .no-svg .pagination .next {
    background-image: url('img/icon-arrow-right-16--text.png');
  }
  .pagination .current {
    display: inline-block;
  }
  .pagination .current:last-child {
    margin-right: 4.5rem;
  }
}
.opener .filters {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2em 0 0 0;
  white-space: nowrap;
}
.opener .filter {
  display: inline-block;
  margin: 0 0 0.75rem 1rem;
  white-space: normal;
}
.filter-toggle {
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 500;
  opacity: 0.4;
}
.filtered .filter-toggle,
.filter-toggle:hover,
.filter-toggle:focus {
  color: #111111 !important;
  opacity: 1;
}
.filter-nav {
  position: fixed;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 8rem 0;
  background: rgba(204, 204, 204, 0.5);
  opacity: 0;
  transition: all 400ms ease;
  transition-property: opacity;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.visible .filter-nav {
  opacity: 1;
}
.moved .filter-nav {
  left: 0;
  right: 0;
}
.filter-nav > h4 {
  position: relative;
  left: 0.25em;
  width: 90%;
  max-width: 72rem;
  margin: 0 auto 2rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.filter-nav > a {
  position: relative;
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  display: block;
  width: 90%;
  max-width: 72rem;
  margin: 0 auto 1rem;
}
.filter-nav > a::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0.8em;
  height: 0.8em;
  margin: 0.1em 0 0 -1.2em;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-plus-64--white.svg');
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 400ms ease;
  transition-duration: 200ms;
}
.no-svg .filter-nav > a::before {
  background-image: url('img/icon-plus-64--white.png');
}
.filter-nav > a:hover::before,
.filter-nav > a:focus::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.filter-nav > a.current::before {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.filter-nav > a.current::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0.2em;
  height: 0.2em;
  margin: 0.4em 0 0 -1.5em;
  background: #ffffff;
  border-radius: 50%;
  transition: all 400ms ease;
}
.filter-ui > .close {
  position: fixed;
  right: -100%;
  top: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 2rem 2rem 0 0;
  white-space: nowrap;
  text-indent: 300%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-close-64--white.svg');
  transition: all 400ms ease;
}
.no-svg .filter-ui > .close {
  background-image: url('img/icon-close-64--white.png');
}
.visible .filter-ui > .close {
  right: 0;
}
.filter-ui > .close:hover,
.filter-ui > .close:focus {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media only screen and ( max-width: 76em ) {
  .filter-nav > a::before {
    display: none;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .filters,
  .opener .filters {
    position: relative;
    margin: 1rem 0 0;
    white-space: normal;
  }
  .filter,
  .opener .filter {
    display: block;
    margin-left: 0;
  }
  .filter-nav {
    padding: 5rem 0;
  }
  .filter-nav > a {
    font-size: 3rem;
  }
  .filter-nav > a::before {
    display: none;
  }
  .filter-nav > a::after {
    display: none;
  }
  .filter-nav > a.current {
    color: #ffffff;
  }
  .filter-ui > .close {
    width: 4rem;
    height: 5rem;
    margin: -0.1em 0 0 0;
    background-image: url('img/icon-close-24--text.svg');
  }
  .no-svg .filter-ui > .close {
    background-image: url('img/icon-close-24--text.png');
  }
}
.message {
  margin: 1rem 0;
  padding: 1rem 1rem;
  background: #cfcfcf;
}
.section--contact {
  margin: 5rem auto 4rem;
  padding: 3rem 0;
  text-align: center;
}
.section--contact p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #a0a0a0;
}
.section--contact a {
  display: inline-block;
  margin: 0 2rem 0;
  color: #a0a0a0;
  color: #cccccc;
}
.section--contact a:hover,
.section--contact a:focus {
  color: #cccccc;
  opacity: 0.9;
}
@media only screen and ( max-width: 47.5em ) {
  .section--contact {
    margin: 3rem auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .section--contact p {
    font-size: 1.25rem;
  }
}
@media only screen and ( max-width: 32em ) {
  .section--contact a {
    display: block;
    margin: 1rem auto;
  }
}
.footer {
  clear: both;
  margin: 0;
}
.footer-credits {
  display: block;
  margin: 3rem auto 0;
  font-size: 1rem;
  text-align: center;
  opacity: 0.4;
}
.divider--footer {
  position: relative;
  height: 0;
  margin: 2rem 0;
  padding: 5rem 0 5rem;
  background: #cccccc;
  transition: all 400ms ease;
  transition-property: background;
}
.divider--footer::before,
.divider--footer::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  height: 5rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.divider--footer::before {
  bottom: 0;
  background-image: url('img/angle--1.svg');
}
.no-svg .divider--footer::before {
  background-image: url('img/angle--1.png');
}
.divider--footer::after {
  top: 0;
  background-image: url('img/angle--2.svg');
}
.no-svg .divider--footer::after {
  background-image: url('img/angle--2.png');
}
@media only screen and ( max-width: 47.5em ) {
  .footer {
    position: relative;
  }
  .footer::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    margin: -5rem 0 0 0;
  }
}
.nav--footer-primary {
  padding: 3rem 0 0;
}
.footer-primary-skip {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.footer-primary-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
}
.footer-primary-list:before,
.footer-primary-list:after {
  content: ' ';
  display: table;
}
.footer-primary-list:after {
  clear: both;
}
.flexbox.flexwrap .footer-primary-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-primary-list > li {
  float: left;
  width: 24.75%;
}
.flexbox.flexwrap .footer-primary-list > li {
  float: none;
  width: auto;
}
.footer-primary-list > li > a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}
.footer-primary-list > li ul {
  margin: 1em 0 0 0;
  padding: 0;
  list-style-type: none;
}
.footer-primary-list > li ul > li {
  margin: 0 0 0.25em 0;
}
.footer-primary-list > li ul > li a {
  opacity: 0.4;
}
.footer-primary-list > li ul > li a:hover,
.footer-primary-list > li ul > li a:focus {
  opacity: 1;
}
@media only screen and ( max-width: 32em ) {
  .footer-primary-list {
    display: block;
  }
  .footer-primary-list > li {
    display: block;
  }
  .footer-primary-list > li > a {
    display: block;
    font-size: 0.875rem;
    text-align: center;
  }
  .footer-primary-list > li ul {
    display: none;
  }
}
.widgets {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: none;
  margin: 0 3rem 0;
  padding: 15rem 0 0;
}
.home .widgets {
  display: block;
}
.widgets > .shell {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.widgets-canvas {
  position: relative;
  height: 100%;
  margin: 0 -1.5rem;
}
.scrolled-to-lastscreen .widgets-canvas {
  display: none !important;
}
.widget {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  float: left;
  width: calc( 33.3333% - 0.1% - 3rem );
  margin: 0 1.5rem 3rem;
  -webkit-animation: fallIn 500ms 1 ease backwards;
          animation: fallIn 500ms 1 ease backwards;
  transition: all 200ms ease;
}
.widget:nth-child( 1 ) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.widget:nth-child( 2 ) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.widget:nth-child( 3 ) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.widget:nth-child( 4 ) {
  clear: left;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.widget:nth-child( 5 ) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.widget:nth-child( 6 ) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.widget--primary {
  padding: 1rem 1rem;
  background: #ffffff;
}
.widget--primary::before,
.widget--primary::after {
  content: ' ';
  position: absolute;
  display: block;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 200ms ease;
}
.widget--primary::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  margin: 0 0 0 0;
}
.widget--primary::after {
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0 0 0 0;
}
.no-touchevents .widget--primary:hover {
  z-index: 100;
  -webkit-transform: translate(-0.5rem, -0.5rem) !important;
      -ms-transform: translate(-0.5rem, -0.5rem) !important;
          transform: translate(-0.5rem, -0.5rem) !important;
}
.no-touchevents .widget--primary:hover::before {
  height: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.no-touchevents .widget--primary:hover::after {
  width: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.learn-more {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 0 2.5rem -1.5rem;
  white-space: nowrap;
  text-indent: 300%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-arrow-down-alt-24--white.svg');
  -webkit-animation: floating 2s infinite ease;
          animation: floating 2s infinite ease;
  opacity: 0;
  transition: all 400ms ease;
  transition-property: opacity;
}
.no-svg .learn-more {
  background-image: url('img/icon-arrow-down-alt-24--white.png');
}
.scrolled-to-firstscreen .home .learn-more {
  opacity: 1;
}
@-webkit-keyframes fallIn {
  0% {
    opacity: 0.001;
    -webkit-transform: translateY(-24rem);
            transform: translateY(-24rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fallIn {
  0% {
    opacity: 0.001;
    -webkit-transform: translateY(-24rem);
            transform: translateY(-24rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.widget h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
@media only screen and ( max-width: 47.5em ) {
  .widgets {
    position: static;
    margin: 0 0 8rem;
    padding: 10.5rem 3rem 0;
  }
  .widgets > .shell {
    position: relative;
    height: auto;
  }
  .widgets-canvas {
    display: block !important;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .widget {
    position: relative;
    z-index: 20 !important;
    float: none;
    display: block;
    width: auto;
    margin: 0 0 1.5rem 0;
    opacity: 1 !important;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    box-shadow: none;
    -webkit-animation: none;
            animation: none;
  }
  .widget:last-child {
    margin-bottom: 0;
  }
  .widget:hover {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    box-shadow: none;
  }
  .widget--primary:hover {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    box-shadow: none;
  }
  .widget h4 {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
@media only screen and ( max-width: 32em ) {
  .widgets {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.widget--blog {
  padding: 1rem 1rem;
  background: #ffffff;
  padding-bottom: 0.8rem;
}
.widget--blog::before,
.widget--blog::after {
  content: ' ';
  position: absolute;
  display: block;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 200ms ease;
}
.widget--blog::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  margin: 0 0 0 0;
}
.widget--blog::after {
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0 0 0 0;
}
.no-touchevents .widget--blog:hover {
  z-index: 100;
  -webkit-transform: translate(-0.5rem, -0.5rem) !important;
      -ms-transform: translate(-0.5rem, -0.5rem) !important;
          transform: translate(-0.5rem, -0.5rem) !important;
}
.no-touchevents .widget--blog:hover::before {
  height: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.no-touchevents .widget--blog:hover::after {
  width: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.widget-image--blog {
  position: relative;
  display: block;
  margin: -1rem -1rem 0;
  padding: 66.6666% 0 0 0;
  overflow: hidden;
}
.widget-image--blog::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: block;
  height: 1.5rem;
  margin: 0 -1px 0 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url('img/angle--1.svg');
  border-bottom: 1px solid #ffffff;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.no-svg .widget-image--blog::after {
  background-image: url('img/angle--1.png');
}
.widget-image-image--blog {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  transition: all 400ms ease;
  transition-property: opacity;
  transition-duration: 400ms;
}
.js .widget-image-image--blog {
  opacity: 0;
}
.js .loaded .widget-image-image--blog {
  opacity: 1;
}
.fit-height .widget-image-image--blog {
  left: 50% !important;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.fit-width .widget-image-image--blog {
  top: 50% !important;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.widget--blog h4 {
  margin: 1rem 0 0.5rem 0;
}
.widget--blog h2 {
  margin: 0;
  font-weight: 500;
}
@media only screen and ( max-width: 47.5em ) {
  .widget-image--blog {
    height: auto;
    padding-top: 0;
  }
  .widget-image--blog::after {
    height: 4.5rem;
  }
  .widget-image-image--blog {
    position: static;
    opacity: 1 !important;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .widget--blog h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.widget--cases {
  padding: 1rem 1rem;
  background: #ffffff;
  padding-bottom: 0.8rem;
}
.widget--cases::before,
.widget--cases::after {
  content: ' ';
  position: absolute;
  display: block;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 200ms ease;
}
.widget--cases::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  margin: 0 0 0 0;
}
.widget--cases::after {
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0 0 0 0;
}
.no-touchevents .widget--cases:hover {
  z-index: 100;
  -webkit-transform: translate(-0.5rem, -0.5rem) !important;
      -ms-transform: translate(-0.5rem, -0.5rem) !important;
          transform: translate(-0.5rem, -0.5rem) !important;
}
.no-touchevents .widget--cases:hover::before {
  height: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.no-touchevents .widget--cases:hover::after {
  width: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.widget-image--cases {
  position: relative;
  display: block;
  margin: -1rem -1rem 0;
  padding: 66.6666% 0 0 0;
  overflow: hidden;
  background: #111111;
}
.widget-image--cases::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: block;
  height: 1.5rem;
  margin: 0 -1px 0 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url('img/angle--1.svg');
  border-bottom: 1px solid #ffffff;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.no-svg .widget-image--cases::after {
  background-image: url('img/angle--1.png');
}
.widget-image-image--cases {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  transition: all 400ms ease;
}
.js .widget-image-image--cases {
  opacity: 0;
}
.js .loaded .widget-image-image--cases {
  opacity: 1;
}
.fit-height .widget-image-image--cases {
  left: 50% !important;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.fit-width .widget-image-image--cases {
  top: 50% !important;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.widget--cases h4 {
  margin: 1rem 0 0.5rem 0;
}
.widget--cases h2 {
  margin: 0;
  font-weight: 500;
}
.widget--cases h2 .title {
  display: block;
}
.widget--cases h2 .client {
  display: none;
}
@media only screen and ( max-width: 47.5em ) {
  .widget-image--cases {
    height: auto;
    padding-top: 0;
  }
  .widget-image--cases::after {
    height: 4.5rem;
  }
  .widget-image-image--cases {
    position: static;
    opacity: 1 !important;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .widget--cases h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.widget_text {
  text-align: center;
}
.widget_text h4 {
  display: none;
}
.widget_text a {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 1.5rem;
  margin: 0 0.75rem 1rem;
  white-space: nowrap;
  text-indent: 300%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 1.5rem;
  background-position: center center;
}
.widget_text a:hover,
.widget_text a:focus {
  color: #cccccc;
}
.widget_text .twitter {
  background-image: url('img/icon-twitter-32--white.svg');
}
.no-svg .widget_text .twitter {
  background-image: url('img/icon-twitter-32--white.png');
}
.widget_text .linkedin {
  background-image: url('img/icon-linkedin-32--white.svg');
}
.no-svg .widget_text .linkedin {
  background-image: url('img/icon-linkedin-32--white.png');
}
.widget_text .vimeo {
  background-image: url('img/icon-vimeo-32--white.svg');
}
.no-svg .widget_text .vimeo {
  background-image: url('img/icon-vimeo-32--white.png');
}
.widget_text .rss {
  background-image: url('img/icon-rss-32--white.svg');
}
.no-svg .widget_text .rss {
  background-image: url('img/icon-rss-32--white.png');
}
.widget_text .mail {
  background-image: url('img/icon-mail-32--white.svg');
}
.no-svg .widget_text .mail {
  background-image: url('img/icon-mail-32--white.png');
}
@media only screen and ( max-width: 76em ) {
  .widget_text a {
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .widget_text {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .widget_text a {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.widget--twitter {
  padding: 1rem 1rem;
  background: #ffffff;
  padding-bottom: 3rem;
  min-height: calc( ( 100vw - 14rem ) / 3 * 0.82 );
}
.widget--twitter::before,
.widget--twitter::after {
  content: ' ';
  position: absolute;
  display: block;
  background: rgba(17, 17, 17, 0.5);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: all 200ms ease;
}
.widget--twitter::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  margin: 0 0 0 0;
}
.widget--twitter::after {
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0 0 0 0;
}
.no-touchevents .widget--twitter:hover {
  z-index: 100;
  -webkit-transform: translate(-0.5rem, -0.5rem) !important;
      -ms-transform: translate(-0.5rem, -0.5rem) !important;
          transform: translate(-0.5rem, -0.5rem) !important;
}
.no-touchevents .widget--twitter:hover::before {
  height: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.no-touchevents .widget--twitter:hover::after {
  width: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translate(0.5rem, 0.5rem);
      -ms-transform: translate(0.5rem, 0.5rem);
          transform: translate(0.5rem, 0.5rem);
}
.widget--twitter h4 {
  margin-bottom: 2rem;
}
.widget-tweet .tweet-content {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.widget-tweet .tweet-meta {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.75rem;
  color: #cccccc;
}
.widget-tweet .tweet-meta .username {
  display: inline-block;
  margin: 0 1em 0 0;
}
.widget-tweet .tweet-meta .date {
  display: inline-block;
}
@media only screen and ( max-width: 47.5em ) {
  .widget--twitter.populated,
  .widget--twitter.populated {
    opacity: 1 !important;
  }
  .widget-tweet .tweet-content {
    margin: 0 0 1rem 0;
    font-weight: 400;
  }
}
.widget_mc4wp_form_widget {
  padding: 0 0;
}
.widget_mc4wp_form_widget h4 {
  display: none;
}
.widget_mc4wp_form_widget p {
  margin: 0;
}
.widget_mc4wp_form_widget form {
  white-space: nowrap;
}
.mc4wp-form-fields {
  position: relative;
}
.mc4wp-form-submitted .mc4wp-form-fields {
  display: none;
}
.widget_mc4wp_form_widget label {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 1.725rem;
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  text-transform: none;
  letter-spacing: 0.025em;
}
.webkit .widget_mc4wp_form_widget label {
  margin-top: 1px;
}
.widget_mc4wp_form_widget input[type='email'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  height: 1.725rem;
  margin: 0 0 0 0;
  padding: 0 2rem 0 5.5em;
  font-family: 'Averta Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  text-transform: none;
  letter-spacing: 0.025em;
  text-align: left;
  background: none;
  border: none;
}
.widget_mc4wp_form_widget input[type='email']::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.widget_mc4wp_form_widget input[type='email']::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.widget_mc4wp_form_widget input[type='email']:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.widget_mc4wp_form_widget input[type='email']::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.widget_mc4wp_form_widget input[type='email']:focus {
  outline: none;
  box-shadow: none;
}
.widget_mc4wp_form_widget input[type='email']:invalid {
  box-shadow: none;
}
.widget_mc4wp_form_widget input[type='submit'] {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  vertical-align: top;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 0;
  padding: 0 0;
  white-space: nowrap;
  text-indent: 300%;
  overflow: hidden;
  background: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-check-24--white.svg');
  border: none;
  transition: all 400ms ease;
  opacity: 0;
}
.no-svg .widget_mc4wp_form_widget input[type='submit'] {
  background-image: url('img/icon-check-24--white.png');
}
.widget_mc4wp_form_widget input[type='submit']:hover,
.widget_mc4wp_form_widget input[type='submit']:focus {
  background-image: url('img/icon-check-24--text.svg');
}
.no-svg .widget_mc4wp_form_widget input[type='submit']:hover,
.no-svg .widget_mc4wp_form_widget input[type='submit']:focus {
  background-image: url('img/icon-check-24--text.png');
}
.widget_mc4wp_form_widget input[type='email']:focus + input[type='submit'] {
  opacity: 1;
}
.widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit'] {
  background-image: url('img/icon-error-24--white.svg');
  pointer-events: none;
}
.no-svg .widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit'] {
  background-image: url('img/icon-error-24--white.png');
}
.widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit']:hover,
.widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit']:focus {
  background-image: url('img/icon-error-24--text.svg');
}
.no-svg .widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit']:hover,
.no-svg .widget_mc4wp_form_widget input[type='email']:invalid + input[type='submit']:focus {
  background-image: url('img/icon-error-24--text.png');
}
.widget_mc4wp_form_widget .mc4wp-response {
  color: #ffffff;
  white-space: normal;
}
@media only screen and ( max-width: 76em ) {
  .widget_mc4wp_form_widget {
    text-align: center;
  }
  .widget_mc4wp_form_widget form {
    white-space: normal;
  }
  .widget_mc4wp_form_widget label {
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
  }
  .widget_mc4wp_form_widget input[type='email'] {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .widget_mc4wp_form_widget input[type='submit'] {
    position: relative;
    right: auto;
    top: auto;
    margin: 0 auto;
    background-size: 80% 80%;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .widget_mc4wp_form_widget {
    margin-bottom: 2rem;
    zoom: 1;
  }
  .widget_mc4wp_form_widget:before,
  .widget_mc4wp_form_widget:after {
    content: ' ';
    display: table;
  }
  .widget_mc4wp_form_widget:after {
    clear: both;
  }
}
@media only screen and ( max-width: 32em ) {
  .widget_mc4wp_form_widget {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.widget--status {
  padding: 0 0;
  text-align: center;
}
.widget--status > span {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  line-height: 1.15;
  color: #ffffff;
}
.widget--status .status--time .digit {
  display: inline-block;
  width: 0.6em;
  margin: 0;
  text-align: center;
}
@media only screen and ( max-width: 76em ) {
  .widget--status > span {
    display: block;
    margin-bottom: 0.5rem;
  }
}
@media only screen and ( max-width: 47.5em ) {
  .widget--status {
    display: none !important;
  }
}
.status {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  margin: 2.5rem 2rem 2rem;
  text-align: center;
}
.scrolled-to-lastscreen .status {
  top: auto;
  bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.status > span {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.5rem 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #ffffff;
}
.status--time .digit {
  display: inline-block;
  width: 0.6em;
  margin: 0;
  text-align: center;
}
@media only screen and ( max-width: 47.5em ) {
  .status {
    display: none;
  }
}
.newsletterpopup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8000 !important;
  margin: 0;
  padding: 1rem 1.5rem;
  color: #111111;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  transition: all 400ms ease;
}
.newsletterpopup.hidden {
  -webkit-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}
.newsletterpopup.hidden:hover {
  -webkit-transform: translateY(100%) !important;
      -ms-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
}
.newsletterpopup:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
}
.newsletterpopup-close {
  position: absolute;
  right: 0;
  top: 0;
  display: blcok;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 300%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('img/icon-close-16--text.svg');
  opacity: 0.3;
}
.no-svg .newsletterpopup-close {
  background-image: url('img/icon-close-16--text.png');
}
.newsletterpopup-close:hover,
.newsletterpopup-close:focus,
.newsletterpopup-close:active {
  opacity: 1;
}
.newsletterpopup > h4 {
  display: block;
  margin-top: 0.5rem;
}
.newsletterpopup label {
  display: none;
}
.newsletterpopup input[type="email"] {
  height: auto;
  margin: 0 2.5rem 0 0;
  padding: 0.25rem 2.5rem 0.25rem 0;
  font-weight: 400;
  color: #111111;
  text-align: left;
}
.newsletterpopup input[type="email"]::-webkit-input-placeholder {
  color: rgba(17, 17, 17, 0.2);
  opacity: 1;
}
.newsletterpopup input[type="email"]::-moz-placeholder {
  color: rgba(17, 17, 17, 0.2);
  opacity: 1;
}
.newsletterpopup input[type="email"]:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.2);
  opacity: 1;
}
.newsletterpopup input[type="email"]::placeholder {
  color: rgba(17, 17, 17, 0.2);
  opacity: 1;
}
.newsletterpopup input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0 -0.125rem 0 0;
  opacity: 1;
  background-color: #cccccc;
  background-size: auto auto;
  background-image: url('img/icon-arrow-right-16--text.svg');
  border-radius: 50%;
}
.no-svg .newsletterpopup input[type="submit"] {
  background-image: url('img/icon-arrow-right-16--text.png');
}
.newsletterpopup input[type="submit"]:hover,
.newsletterpopup input[type="submit"]:focus,
.newsletterpopup input[type="submit"]:active {
  background-image: url('img/icon-arrow-right-16--text.svg');
}
.no-svg .newsletterpopup input[type="submit"]:hover,
.no-svg .newsletterpopup input[type="submit"]:focus,
.no-svg .newsletterpopup input[type="submit"]:active {
  background-image: url('img/icon-arrow-right-16--text.png');
}
.newsletterpopup .mc4wp-response {
  color: #111111;
}
