/**
 * @license
 * MyFonts Webfont Build ID 3128869, 2015-11-20T10:27:11-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvertaStd-BlackItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/black-italic/
 * 
 * Webfont: AvertaStd-Bold by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/bold/
 * 
 * Webfont: AvertaStd-BoldItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/bold-italic/
 * 
 * Webfont: AvertaStd-ExtraBold by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/extra-bold/
 * 
 * Webfont: AvertaStd-Black by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/black/
 * 
 * Webfont: AvertaStd-ExtraBoldItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/extra-bold-italic/
 * 
 * Webfont: AvertaStd-Extrathin by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/extra-thin/
 * 
 * Webfont: AvertaStd-ExtrathinItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/extra-thin-italic/
 * 
 * Webfont: AvertaStd-Light by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/light/
 * 
 * Webfont: AvertaStd-LightItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/light-italic/
 * 
 * Webfont: AvertaStd-Regular by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/regular/
 * 
 * Webfont: AvertaStd-RegularItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/regular-italic/
 * 
 * Webfont: AvertaStd-Semibold by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/semibold/
 * 
 * Webfont: AvertaStd-SemiboldItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/semibold-italic/
 * 
 * Webfont: AvertaStd-Thin by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/thin/
 * 
 * Webfont: AvertaStd-ThinItalic by Intelligent Design
 * URL: http://www.myfonts.com/fonts/intelligent-foundry/averta-standard/thin-italic/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3128869
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2015 by Kostas Bartsokas. All rights reserved.
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2fbe25"); */


/*
 * AvertaStd-Extrathin
 * 100
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 100;
	font-style: normal;
	src: url('2FBE25_6_0.eot');
	src: url('2FBE25_6_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_6_0.woff2') format('woff2'),
	url('2FBE25_6_0.woff') format('woff'),
	url('2FBE25_6_0.ttf') format('truetype');
}

/*
 * AvertaStd-ExtrathinItalic
 * 100
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 100;
	font-style: italic;
	src: url('2FBE25_7_0.eot');
	src: url('2FBE25_7_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_7_0.woff2') format('woff2'),
	url('2FBE25_7_0.woff') format('woff'),
	url('2FBE25_7_0.ttf') format('truetype');
} 

/*
 * AvertaStd-Thin
 * 200
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 200;
	font-style: normal;
	src: url('2FBE25_E_0.eot');
	src: url('2FBE25_E_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_E_0.woff2') format('woff2'),
	url('2FBE25_E_0.woff') format('woff'),
	url('2FBE25_E_0.ttf') format('truetype');
} 

/*
 * AvertaStd-ThinItalic
 * 200 
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 200;
	font-style: italic;
	src: url('2FBE25_F_0.eot');
	src: url('2FBE25_F_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_F_0.woff2') format('woff2'),
	url('2FBE25_F_0.woff') format('woff'),
	url('2FBE25_F_0.ttf') format('truetype');
} 

/*
 * AvertaStd-Light
 * 300
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 300;
	font-style: normal;
	src: url('2FBE25_8_0.eot');
	src: url('2FBE25_8_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_8_0.woff2') format('woff2'),
	url('2FBE25_8_0.woff') format('woff'),
	url('2FBE25_8_0.ttf') format('truetype');
} 

/*
 * AvertaStd-LightItalic
 * 300
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 300;
	font-style: italic;
	src: url('2FBE25_9_0.eot');
	src: url('2FBE25_9_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_9_0.woff2') format('woff2'),
	url('2FBE25_9_0.woff') format('woff'),
	url('2FBE25_9_0.ttf') format('truetype');
} 

/*
 * AvertaStd-Regular
 * 400
 */
@font-face {
	font-family: 'Averta Web';
	font-weight: 400;
	font-style: normal;
	src: url('2FBE25_A_0.eot');
	src: url('2FBE25_A_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_A_0.woff2') format('woff2'),
	url('2FBE25_A_0.woff') format('woff'),
	url('2FBE25_A_0.ttf') format('truetype');
} 

/*
 * AvertaStd-RegularItalic
 * 400
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 400;
	font-style: italic;
	src: url('2FBE25_B_0.eot');
	src: url('2FBE25_B_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_B_0.woff2') format('woff2'),
	url('2FBE25_B_0.woff') format('woff'),
	url('2FBE25_B_0.ttf') format('truetype');
} 

/*
 * AvertaStd-Semibold
 * 500
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 500;
	font-style: normal;
	src: url('2FBE25_C_0.eot');
	src: url('2FBE25_C_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_C_0.woff2') format('woff2'),
	url('2FBE25_C_0.woff') format('woff'),
	url('2FBE25_C_0.ttf') format('truetype');
} 

/*
 * AvertaStd-SemiboldItalic
 * 500
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 500;
	font-style: italic;
	src: url('2FBE25_D_0.eot');
	src: url('2FBE25_D_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_D_0.woff2') format('woff2'),
	url('2FBE25_D_0.woff') format('woff'),
	url('2FBE25_D_0.ttf') format('truetype');
} 
 
/*
 * AvertaStd-Bold
 * 600
 */
@font-face {
	font-family: 'Averta Web'; 
	font-weight: 600;
	font-style: normal;
	src: url('2FBE25_1_0.eot'); 
	src: url('2FBE25_1_0.eot?#iefix') format('embedded-opentype'), 
	url('2FBE25_1_0.woff2') format('woff2'), 
	url('2FBE25_1_0.woff') format('woff'), 
	url('2FBE25_1_0.ttf') format('truetype');
}

/*
 * AvertaStd-BoldItalic
 * 600
 * italic
 */
@font-face {
	font-family: 'Averta Web';
	font-weight: 600;
	font-style: italic;
	src: url('2FBE25_2_0.eot');
	src: url('2FBE25_2_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_2_0.woff2') format('woff2'),
	url('2FBE25_2_0.woff') format('woff'),
	url('2FBE25_2_0.ttf') format('truetype');
}

/*
 * AvertaStd-ExtraBold
 * 700
 */
@font-face {
	font-family: 'Averta Web';
	font-weight: 700;
	font-style: normal;
	src: url('2FBE25_3_0.eot');
	src: url('2FBE25_3_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_3_0.woff2') format('woff2'),
	url('2FBE25_3_0.woff') format('woff'),
	url('2FBE25_3_0.ttf') format('truetype');
}

/*
 * AvertaStd-ExtraBoldItalic
 * 700
 * italic
 */
@font-face {
	font-family: 'Averta Web';
	font-weight: 700;
	font-style: italic;
	src: url('2FBE25_5_0.eot');
	src: url('2FBE25_5_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_5_0.woff2') format('woff2'),
	url('2FBE25_5_0.woff') format('woff'),
	url('2FBE25_5_0.ttf') format('truetype');
}

/*
 * AvertaStd-Black
 * 800
 */
@font-face {
	font-family: 'Averta Web';
	font-weight: 800;
	font-style: normal;
	src: url('2FBE25_4_0.eot');
	src: url('2FBE25_4_0.eot?#iefix') format('embedded-opentype'),
	url('2FBE25_4_0.woff2') format('woff2'),
	url('2FBE25_4_0.woff') format('woff'),
	url('2FBE25_4_0.ttf') format('truetype');
}

/*
 * AvertaStd-BlackItalic
 * 800 
 * italic
 */  
@font-face {
	font-family: 'Averta Web';
	font-weight: 800;
	font-style: italic;
	src: url('2FBE25_0_0.eot');
	src: url('2FBE25_0_0.eot?#iefix') format('embedded-opentype'),
		 url('2FBE25_0_0.woff2') format('woff2'), 
		 url('2FBE25_0_0.woff') format('woff'), 
		 url('2FBE25_0_0.ttf') format('truetype');
} 